<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axej.harlan.goods.dao.SupplyServDao">

    <insert id="save" parameterType="com.axej.harlan.goods.bean.SupplyServBean">
        <selectKey keyProperty="supply_id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into serv_supply(
        user_id,
        border_type,
        supply_state,
        create_time,
        contacts_name,
        contacts_phone,
        id_number,
        household_register,
        current_residence,
        company_name,
        company_site,
        company_phone,
        audit_reports,
        financial_statement,
        apply_amount,
        supply_file
        )values (
        #{user_id},
        #{border_type},
        #{supply_state},
        #{create_time},
        #{contacts_name},
        #{contacts_phone},
        #{id_number},
        #{household_register},
        #{current_residence},
        #{company_name},
        #{company_site},
        #{company_phone},
        #{audit_reports},
        #{financial_statement},
        #{apply_amount},
        #{supply_file}
        )
    </insert>

    <update id="update" parameterType="com.axej.harlan.goods.bean.SupplyServBean">
        update serv_supply
        <set>
            <if test="supply_state!=null and supply_state.trim()!=''">supply_state=#{supply_state},</if>
            <if test="contacts_name!=null and contacts_name.trim()!=''">contacts_name=#{contacts_name},</if>
            <if test="contacts_phone!=null and contacts_phone.trim()!=''">contacts_phone=#{contacts_phone},</if>
            <if test="id_number!=null and id_number.trim()!=''">id_number=#{id_number},</if>
            <if test="household_register!=null and household_register.trim()!=''">household_register=#{household_register},</if>
            <if test="current_residence!=null and current_residence.trim()!=''">current_residence=#{current_residence},</if>
            <if test="company_name!=null and company_name.trim()!=''">company_name=#{company_name},</if>
            <if test="company_site!=null and company_site.trim()!=''">company_site=#{company_site},</if>
            <if test="company_phone!=null and company_phone.trim()!=''">company_phone=#{company_phone},</if>
            <if test="audit_reports!=null and audit_reports.trim()!=''">audit_reports=#{audit_reports},</if>
            <if test="financial_statement!=null and financial_statement.trim()!=''">financial_statement=#{financial_statement},</if>
            <if test="apply_amount!=null and apply_amount.trim()!=''">apply_amount=#{apply_amount},</if>
            <if test="supply_file!=null and supply_file.trim()!=''">supply_file=#{supply_file}</if>
        </set>
        where supply_id = #{supply_id}
    </update>
    
    <delete id="delete">
        delete from serv_supply where supply_id = #{supply_id}
    </delete>

    <select id="queryList" parameterType="map" resultType="com.axej.harlan.goods.bean.SupplyServBean">
        select * from serv_supply
        <where>
            <if test="user_id!=0 and user_id!=null">
                user_id = #{user_id}
            </if>
            <if test="border_type!=null and border_type.trim()!=''">
                and border_type = #{border_type}
            </if>
            <if test="supply_state!=null and supply_state.trim()!=''">
                and supply_state = #{supply_state}
            </if>
        </where>
        order by create_time desc
        <if test="limit!=null and offset!=null">
            limit #{offset},#{limit}
        </if>
    </select>

    <select id="queryTotal" parameterType="map" resultType="int">
        select count(1) from serv_supply
        <where>
            <if test="user_id!=0 and user_id!=null">
                user_id = #{user_id}
            </if>
            <if test="border_type!=null and border_type.trim()!=''">
                and border_type = #{border_type}
            </if>
            <if test="supply_state!=null and supply_state.trim()!=''">
                and supply_state = #{supply_state}
            </if>
        </where>
    </select>
    
    <select id="queryObject" resultType="com.axej.harlan.goods.bean.SupplyServBean">
        select * from serv_supply where supply_id = #{supply_id}
    </select>
</mapper>