<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.axej.harlan.cms.dao.GoodsStatisticsDao">

    <select id="queryUpDownStatistics" parameterType="map" resultType="com.axej.harlan.cms.bean.CmsStatisticsBean">
        select
            count(1) as yAxis
        from
            info_goods
        <where>
            <if test="goods_state != null">
                goods_state = #{goods_state}
            </if>
            <if test="goods_type != null">
                and goods_type like concat(concat('%',#{goods_type}), '%')
            </if>
            <if test="create_time != null">
                and create_time like concat(concat('%',#{create_time}), '%')
            </if>
        </where>
    </select>

    <select id="querySumStatistics" parameterType="map" resultType="com.axej.harlan.cms.bean.CmsStatisticsBean">
        select
            ifnull(
                sum(
                    ifnull(o.goods_price * o.goods_num, 0)),0) as yAxis
        from
            order_biz o
        left join info_goods g on o.goods_id = g.goods_id
        <where>
            o.`status` in ('2', '3', '4')
            <if test="place_time != null">
                and o.place_time like concat(concat('%',#{pay_time}),'%')
            </if>
            <if test="goods_type != null">
                and g.goods_type like concat(concat('%',#{goods_type}),'%')
            </if>
        </where>
    </select>
</mapper>