html,body{
	width: 100%;
	height: 100%;
	position: relative;
}
.entire{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
/*-------------------顶部搜索样式开始--------------------------*/
.first{
	width: 100%;
	height: 224px;
	padding-top: 68px;
}
.first_sub{
	width: 1143px;
	height: 100%;
	margin: 0 auto;
}
.logo{
	width: 175px;
	height: 73px;
	margin-top: 12px;
	background: url(../imgs/logo_hualang3.png) no-repeat center;
	background-size: contain;
	float: left;
}
.search_area{
	width: 651px;
	height: 114px;
	float: left;
	margin-left: 126px;
}
.search_box_mn{
	width: 100%;
	height: 38px;
}
.search_box_mn li{
	width: 78px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	float: left;
	color: #067ebd;
	font-size: 14px;
	cursor: default;
}
.search_box_mn .search_li_active{
	background-color: #317ee7;
	color: #fff;
}
.search_box{
	width: 100%;
	height: 46px;
}
.input_box{
	width: 594px;
	height: 100%;
	float: left;
	border: 2px solid #317ee7;
}
.input_box input{
    display: block;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 12px;
}
.search_btn{
	width: 57px;
	height: 100%;
	background: url(../imgs/search_icon.png) no-repeat center;
	background-size: 24px 24px;
	background-color: #317ee7;
	float: right;
	cursor: pointer;
}
.search_history{
	margin-top: 14px;
	font-size: 14px;
	line-height: 22px;
	height: 22px;
}
.search_history a{
	color: #666666;
}
.shop_cart{
    width: 150px;
    height: 47px;
    background: url(../imgs/icon_shop_cart.png) no-repeat;
    background-size: 42px 33px;
    background-position: 26px center;
    background-color: #f2f4f7;
    padding-left: 74px;
    line-height: 47px;
    margin-top: 38px;
    margin-left: 33px;
    font-size: 14px;
    color: #022133;
    border-radius: 5px;
}

/*-------------------顶部搜索样式结束--------------------------*/
/*-------------------------------------second------------------------------------------*/

/*-------------------菜单导航样式开始--------------------------*/
.second{
	width: 100%;
    height: 42px;
    border-bottom: 3px solid #808080;
}
.second_mn{
	width: 848px;
	height: 40px;
	margin: 0 auto;
}
.second_mn li{
	width: 106px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
	
}
.second_mn li a{
    font-size: 16px;
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}

.second_mn .li_active{
	background-color: #317ee7;
}
.second_mn .li_active a{
	color: #fff;
}
/*-------------------菜单导航样式结束--------------------------*/
.crumb{
	width: 1200px;
	height: 24px;
	line-height: 24px;
	margin: 23px auto 0 auto;
	font-size: 18px;
	color: #999;
}
/*-------------------------------------third------------------------------------*/
.third{
	width: 1200px;
	margin: 46px auto 0 auto;
}
.good_item{
	width: 100%;
	margin-top: 5px;
}
.good_item_head{
	width: 100%;
	height: 55px;
	background-color: #0b86c6;
	padding-left: 20px;
	padding-right: 24px;
}
.good_name{
	float: left;
	font-size: 18px;
	color: #fff;
	height: 100%;
	line-height: 55px;
}
.icon_btn{
	float: right;
	width: 18px;
	height: 10px;
	margin-top: 22px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
}
.icon_hide{
	border-top: 10px solid #fff;
}
.icon_show{
	border-bottom: 10px solid #fff;
}
.good_item_panel{
	width: 100%;
}
.panel_a{
	width: 100%;
	padding-bottom: 51px;
}
.panel_nam{
	width: 100%;
	height: 45px;
	background-color: #f8f4cd;
	padding-left: 20px;
}
.panel_nam_point{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ddc603;
	float: left;
	margin-top: 18px;
	
}
.nam_txt{
	float: left;
	font-size: 18px;
	color: #323232;
	line-height: 45px;
	margin-left: 14px;
}
.a_cs{
	width: 100%;
}

.good_item_panel input[type="text"]{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 10px;
	font-size: 14px;
	color: #585858;
}
.a_panel_one{
	width: 100%;
	height: 40px;
	margin-top: 38px;
}
.a_one_label{
	width: 307px;
	height: 100%;
	line-height: 40px;
	text-align: right;
	float: left;
	font-size: 14px;
	color: #585858;
}
.a_one_input{
	width: 652px;
	height: 40px;
	border: 1px solid #E6E6E6;
	float: left;
	margin-left: 18px;
}
.a_panel_two{
	float: left;
	height: 40px;
	margin-top: 38px;
}
.a_two_input{
	width: 270px;
	height: 40px;
	border: 1px solid #e6e6e6;
	float: left;
	margin-left: 18px;
}
.a_two_input select{
	width: 100%;
	height: 100%;
	border: none;
    font-size: 14px;
    color: #585858;
}
.a_panel_three{
	float: left;
	height: 40px;
	margin-top: 38px;
}
.a_three_label{
	width: 110px;
	height: 100%;
	line-height: 40px;
	text-align: right;
	float: left;
	font-size: 14px;
	color: #585858;
}
.a_three_input{
	width: 220px;
	height: 40px;
	float: left;
	border: 1px solid #e6e6e6;
	margin-left: 18px;
}
.a_panel_four{
	float: left;
	margin-top: 38px;
}
.a_panel_five{
	margin-top: 38px;
}
.dw{
	width: 50px;
	height: 40px;
	font-size: 14px;
	color: #585858;
	border: 1px solid #e6e6e6;
	outline: none;
	padding-left: 10px;
	float: left;
	line-height: 40px;
}
.a_five_input{
	float: left;
}
.sel_option{
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 18px;
	font-size: 14px;
	color: #585858;
}
.sel_option input[type="radio"]{
	position: relative;
	top: 2px;
}
.a_six_input{
	float: left;
	margin-left: 18px;
	height: 40px;
	border-radius: 10px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #585858;
}

.all_btn{
	width: 404px;
	height: 60px;
	background-color: #ff9c00;
	border-radius: 10px;
	font-size: 24px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	margin: 72px auto 36px auto;
	cursor: pointer;
}
