html,body{
	width: 100%;
	height: 100%;
	
}
.entire{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
/*-------------------顶部搜索样式开始--------------------------*/
.first{
	width: 100%;
	height: 224px;
	padding-top: 68px;
}
.first_sub{
	width: 1143px;
	height: 100%;
	margin: 0 auto;
}
.logo{
	width: 175px;
	height: 73px;
	margin-top: 12px;
	background: url(../imgs/logo_hualang3.png) no-repeat center;
	background-size: contain;
	float: left;
}
.search_area{
	width: 651px;
	height: 114px;
	float: left;
	margin-left: 126px;
}
.search_box_mn{
	width: 100%;
	height: 38px;
}
.search_box_mn li{
	width: 78px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	float: left;
	color: #067ebd;
	font-size: 14px;
	cursor: default;
}
.search_box_mn .search_li_active{
	background-color: #317ee7;
	color: #fff;
}
.search_box{
	width: 100%;
	height: 46px;
}
.input_box{
	width: 594px;
	height: 100%;
	float: left;
	border: 2px solid #317ee7;
}
.input_box input{
    display: block;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 12px;
}
.search_btn{
	width: 57px;
	height: 100%;
	background: url(../imgs/search_icon.png) no-repeat center;
	background-size: 24px 24px;
	background-color: #317ee7;
	float: right;
	cursor: pointer;
}
.search_history{
	margin-top: 14px;
	font-size: 14px;
	line-height: 22px;
	height: 22px;
}
.search_history a{
	color: #666666;
}
.shop_cart{
    width: 150px;
    height: 47px;
    background: url(../imgs/icon_shop_cart.png) no-repeat;
    background-size: 42px 33px;
    background-position: 26px center;
    background-color: #f2f4f7;
    padding-left: 74px;
    line-height: 47px;
    margin-top: 38px;
    margin-left: 33px;
    font-size: 14px;
    color: #022133;
    border-radius: 5px;
}

/*-------------------顶部搜索样式结束--------------------------*/
/*-------------------------------------second------------------------------------------*/

/*-------------------菜单导航样式开始--------------------------*/
.second{
	width: 100%;
    height: 42px;
    border-bottom: 3px solid #808080;
}
.second_mn{
	width: 848px;
	height: 40px;
	margin: 0 auto;
}
.second_mn li{
	width: 106px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
	
}
.second_mn li a{
    font-size: 16px;
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}

.second_mn .li_active{
	background-color: #317ee7;
}
.second_mn .li_active a{
	color: #fff;
}
/*-------------------菜单导航样式结束--------------------------*/
.second_banner{
	width: 100%;
	height: 549px;
	background: url(../imgs/financial_banner.png) no-repeat center;
	background-size: 100% 100%;
	position: relative;
}

.btn{
	position: absolute;
	width: 205px;
	height: 52px;
	background-color: #ffa800;
	left: 0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	bottom: 59px;
	cursor: pointer;
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 52px;
	border-radius: 26px;
}
.third{
	width: 100%;
	height: 651px;
	background-color: #e0f8ff;
	padding-top: 82px;
}
.third_sub{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.third_til{
	width: 100%;
	height: 63px;
	line-height: 62px;
	font-size: 30px;
	color: #0d4fb1;
}
.third_til .bl{
	width: 281px;
	height: 25px;
	background-color: #dce8eb;
	margin-top: 19px;
}
.third_til .til_txt{
    width: 638px;
    height: 100%;
    line-height: 64px;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-weight: bold;
}
.intro{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color:#585858;
	margin-top: 62px;
}

.table_list{
	width: 100%;
}
.item_row1,.item_row2{
	width: 100%;
	height: 120px;
	margin-top: 61px;
}
.item_row1{
	padding-left: 76px;
	padding-right: 76px;
}
.item_row2{
	padding-left: 251px;
	padding-right: 251px;
}
.item{
	width: 277px;
	height: 120px;
	margin-left: 72px;
	border-radius: 10px;
	background-color: #4293c7;
	float: left;
}
.item_icon{
	width: 101px;
	height: 100%;
	background: no-repeat center;
	background-size: 67px 67px;
	float: left;
}

.icon1{
	background-image: url(../imgs/e_icon1.png);
}
.icon2{
	background-image: url(../imgs/e_icon2.png);
}
.icon3{
	background-image: url(../imgs/e_icon3.png);
}
.icon4{
	background-image: url(../imgs/e_icon4.png);
}
.icon5{
	background-image: url(../imgs/e_icon5.png);
}
.p_text{
	width: 176px;
	height: 100%;
	float: right;
	padding-top: 21px;
}
.p_text1{
	width: 100%;
	font-size: 35px;
	height:45px;
	line-height: 45px;
	color: #fffeb6;
}
.p_text2{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #fff;
	padding-right: 14px;
}
/*--------------------forth-------------------------*/
.forth{
	width: 100%;
	height: 621px;
	background-color: #559bc8;
	padding-top: 82px;
}
.forth_sub{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.forth_til{
	width: 100%;
	height: 63px;
	line-height: 62px;
	font-size: 30px;
	color: #0d4fb1;
}
.forth_til .bl{
	width: 487px;
	height: 25px;
	background-color: #97bad0;
	margin-top: 19px;
}
 .forth_til .til_txt{
    width: 226px;
    height: 100%;
    line-height: 64px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
.forth_icon_list{
	width: 100%;
	height: 258px;
    margin-top: 126px;
	padding-left: 16px;
	padding-right: 16px;	
}
.forth_icon_item{
	width: 25%;
	height: 100%;
	padding: 0 20px;
	float: left;
}
.forth_icon_pic{
	width: 186px;
	height: 186px;
	margin: 0 auto;
	background: no-repeat center;
	background-size: contain;
}
.forth_icon1{
	background-image: url(../imgs/f_icon1.png);
}
.forth_icon2{
	background-image: url(../imgs/f_icon2.png);
}
.forth_icon3{
	background-image: url(../imgs/f_icon3.png);
}
.forth_icon4{
	background-image: url(../imgs/f_icon4.png);
}
.forth_icon_txt{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 24px;
	color: #fff;
    margin-top: 26px;
}
/*--------------------fifth-------------------------*/
.fifth{
	width: 100%;
	height: 558px;
	background-color: #e0f8ff;
	padding-top: 82px;
}
.fifth_sub{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.fifth_til{
	width: 100%;
	height: 63px;
	line-height: 62px;
	font-size: 30px;
}
.fifth_til .bl{
	width: 487px;
	height: 25px;
	background-color: #dce8eb;
	margin-top: 19px;
}
 .fifth_til .til_txt{
    width: 226px;
    height: 100%;
    line-height: 64px;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-weight: bold;
}
.fifth_icon_list{
	width: 100%;
	height: 132px;
    margin-top: 126px;
	padding-left: 99px;
	padding-right: 99px;	
}
.fifth_icon_item{
	width: 146px;
	height: 100%;
	float: left;
}
.fifth_icon_pic{
	width: 74px;
	height: 60px;
	margin: 0 auto;
	background: no-repeat center;
	background-size: 74px 60px;
}
.fifth_icon1{
	background-image: url(../imgs/g_icon1.png);
}
.fifth_icon2{
	background-image: url(../imgs/g_icon2.png);
}
.fifth_icon3{
	background-image: url(../imgs/g_icon3.png);
}
.fifth_icon4{
	background-image: url(../imgs/g_icon4.png);
}
.fifth_icon5{
	background-image: url(../imgs/g_icon5.png);
}
.fifth_icon6{
	background-image: url(../imgs/g_icon6.png);
}
.fifth_icon_txt{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 26px;
	color: #000;
    margin-top: 26px;
}
.icon_arrow{
	width: 25px;
	height: 100%;
	background: url(../imgs/icon_arrow.png) no-repeat center;
	background-size: contain;
	float: left;
}
