html, body {
    width: 100%;
    height: 100%;
}
[v-cloak] {
    /*display: none !important;*/
}
.entire {
    width: 100%;
    height: 100%;
     position: relative;
    background-color: #f1f1f5;
    overflow: auto;
}

/*-------------------顶部搜索样式结束--------------------------*/
/*-------------------------------------second------------------------------------------*/

/*-------------------菜单导航样式开始--------------------------*/
.second {
    width: 100%;
    height: 42px;
    border-bottom: 3px solid #808080;
}

.second_mn {
    width: 848px;
    height: 40px;
    margin: 0 auto;
}

.second_mn li {
    width: 106px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;

}

.second_mn li a {
    font-size: 14px;
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}

.second_mn .li_active {
    background-color: #317ee7;
}

.second_mn .li_active a {
    color: #fff;
}

/*-------------------菜单导航样式结束--------------------------*/
.crumb {
    width: 1200px;
    height: 24px;
    line-height: 24px;
    margin: 10px auto 0 auto;
    font-size: 16px;
    color: #323233;
    padding-left: 16px;
    padding-right: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*-----------------------third-----------------------*/
.third {
    width: 1200px;
    margin: 10px auto 36px auto;
}

.third_left {
    width: 864px;
    float: left;
}

.third_left_one {
    width: 100%;
    background-color: #fff;
    padding: 20px 15px 44px 15px;
}

.one_pic {
    width: 242px;
    float: left;
}

.big_pic, .small_pic_item {
    background: no-repeat center;
    background-size: 100% 100%;
}

.big_pic {
    width: 100%;
    height: 211px;
    border: 1px solid #E6E6E6;
}

.small_pic {
    width: 100%;
    height: 81px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 18px;
}

.small_pic_list {
    text-align: center;
    height: 100%;
}

.small_pic_item {
    float: left;
    width: 24.7%;
    height: 100%;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
}
.small_pic_item:not(:first-child){
	margin-left: 0.4%;
}

.collect {
    margin-top: 16px;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
    background: url(../imgs/collect_bg.png) no-repeat;
    background-size: 18px 17px;
    background-position: right center;
    cursor: pointer;
}

.one_mesg {
    width: 560px;
    float: right;
}

.mesg_name {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    color: #333;
    /*cursor: pointer;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mesg_eg {
    width: 100%;
    height: 24px;
    margin-top: 20px;
    line-height: 24px;
    font-size: 12px;
    color: #323232;
}
.mesg_eg>div{
	float: left;
	height: 100%;
	line-height: 24px;
	max-width: 32%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.mesg_eg>div:not(:first-child){
	margin-left: 2%;
}
.mesg_eg span {
    color: #666;
}

.mesg_c {
    width: 100%;
    min-height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #323232;
    display: table;
}

.mesg_c span {
    color: #666;
}

.mesg_c_div {
    max-width: 141px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mesg_c div {
    float: left;
}
.ckbk{
    margin-top: 28px;
    display: block;
    width: 100%;
    height: 40px;
    background: url(../imgs/say_bg.png) no-repeat center;
    background-size: cover;
}
.ckbk a{
    display: table;
    height: 100%;
    margin: 0 auto;
    height: 100%;
    line-height: 40px;
    background: url(../imgs/mesg_sub_bg.png) no-repeat;
    background-size: 22px 22px;
    background-position: left center;
    font-size: 16px;
    color: #fff;
    padding-left: 35px;
    cursor: pointer;
}
.mesg_d {
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 40px;
    background-size: cover;
}

.mesg_d_sub {
    width: 177px;
    height: 100%;
    line-height: 40px;
    background-image: url(../imgs/mesg_sub_bg.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 6px center;
    background-color: #317ee7;
    font-size: 14px;
    color: #fff;
    padding-left: 35px;
    border-radius: 5px;
}

.mesg_e {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #e6e6e6;
    color: #323232;
    font-size: 14px;
  	padding-left: 14px;
    padding-right: 14px;
}

.mesg_e_n {
    float: left;
    max-width: 50%;
    height: 100%;
    line-height: 50px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mesg_e_n span {
    font-size: 16px;
    color: #ff1800;
}

.mesg_e_op {
    width: 48%;
    height: 100%;
    font-size: 14px;
    float: right;
    line-height: 50px;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mesg_e_op span{
	text-decoration:line-through;
}
.mesg_f {
    width: 100%;
    height: 60px;
    margin-top: 18px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #e6e6e6;
}

.adr_label {
    float: left;
    height: 100%;
    line-height: 40px;
    font-size: 14px;
    color: #999;
}

.adr {
    float: left;
    margin-left: 5px;
}

.mesg_g {
    margin-top: 17px;
    width: 432px;
    font-size: 12px;

}

.g_label {
    width: 50px;
    float: left;
    height: 28px;
    line-height: 28px;
    color: #323232;
}

.g_option {
    margin-top: -15px;
    width: 363px;
    float: left;
    margin-left: 3px;
}

.g_option li {
    width: 72px;
    height: 28px;
    margin-left: 15px;
    margin-top: 18px;
    border: 1px solid #E6E6E6;
    line-height: 28px;
    text-align: center;
    float: left;
    color: #333;
    cursor: pointer;
}

.g_option .g_li_active {
    border: 1px solid #0f7de8;
    color: #0f7de8;
}

.mesg_j {
    width: 100%;
    height: 30px;
    margin-top: 16px;
}

.j_label {
    float: left;
    font-size: 12px;
    color: #323232;
    height: 100%;
    line-height: 30px;
}

.j_num_block {
    float: left;
    width: 194px;
    height: 100%;
    margin-left: 20px;
}

.j_num_block div {
    float: left;
}

.j_num_box {
    width: 50px;
    height: 100%;
    border: 1px solid #E6E6E6;
}

.j_num_box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.j_num_add, .j_num_reduce {
    width: 32px;
    height: 100%;
    background-color: #f2f2f2;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #999;
    cursor: pointer;
}

.mesg_k {
    margin-top: 15px;
    width: 450px;
    height: 50px;
}

/*加入购物车*/
.add_cart_btn {
    border-radius: 3px;
    width: 182px;
    height: 100%;
    float: left;
    border: 1px solid #fe9933;
    background-color: #fff2f2;
    font-size: 14px;
    color: #fe9933;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

/*立即购买*/
.buy_btn {
    border-radius: 3px;
    width: 180px;
    height: 100%;
    float: left;
    margin-left: 14px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-color: #ff751a;
}

.third_left_other{
	width: 100%;
	background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 14px;
}
.third_left_two {
    width: 100%;
    margin-top: 36px;
}
.third_left_tit{
	height: 40px;
	width: 100%;
}
.two_til {
    width: 25%;
    height: 40px;
    font-size: 18px;
    color: #000;
    line-height: 38px;
    border-bottom: 1px solid #c8d1e1;
}
.two_til_sp{
	height: 40px;
    font-size: 18px;
    color: #000;
    line-height: 38px;
    border-bottom: 1px solid #c8d1e1;
}
.link_one,.link_two{
	cursor: pointer;
}
.third_left_three {
    width: 100%;
	border-bottom: 1px solid #c8d1e1;
}
.wj {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.wj_item {
    width: 16.6%;
    float: left;
}

.wj_icon {
    width: 60px;
    height: 66px;
    border: 1px solid #E6E6E6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: 0 auto;
}

.wj_xx {
    height: 100%;
    text-align: center;
}

.wj_nm {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #333333;
}

.wj_size {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #808080;
}

.xz_btn {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    line-height: 45px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background: url(../imgs/goos/xz.png) no-repeat 110px center;
    color: #fc9332;
	padding-left: 20px;
}

.third_left_seven {
    width: 100%;
}

.wj_list {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.third_left_seven .wj_item {
    border-bottom: 1px solid #E6E6E6;
}
.three_pic_list {
    width: 100%;
    height: 170px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 51px;
    border-bottom: 1px solid #E6E6E6;
}

.three_item {
    width: 170px;
    height: 139px;
    background: no-repeat center;
    background-size: contain;
}

.third_left_four {
    width: 100%;
    margin-top: 30px;
}

.four_pic_list {
    width: 100%;
    height: 170px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    border-bottom: 1px solid #E6E6E6;
}

.four_item {
    width: 217px;
    height: 145px;
    background: no-repeat center;
    background-size: contain;
    float: left;
    overflow: hidden;
    border: 1px solid #E6E6E6;
}

.four_item:not(:first-child) {
    margin-left: 26px;
}

.four_item img, .four_item video {
    max-width: 217px;
    max-height: 145px;
}

.vedio_area {
    width: 100%;
    height: 100%;
    position: relative;
}

/*.vedio_area video{
	width: 217px;
	height: 145px;
}*/
.play_di {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;

}

.play_btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 40px;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-left: 30px solid #fff;
}

.third_left_five {
    width: 100%;
    margin-top: 30px;
}

.tal {
    width: 100%;
    font-size: 14px;
    margin-top: 16px;
}
.tal_l{
    border-right: 2px solid #c8d1e1;
	
}
.tal_l,.tal_r{
	float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;

}
.tal_row {
    width: 100%;
    /*height: 30px;*/
    color: #666;
    line-height: 30px;
}
.tal_row span{
	color: #5b93ea;
}
.third_last{
	width: 100%;
	margin-top: 20px;
}
.third_last .two_til{
    border-bottom: none;
}
.third_last .two_til{
    border-bottom: none;
    width: 100%;
}
.third_last_r, .two_til{
    padding-left: 15px;
}
.third_last_l, .third_last_r {
    width: 50%;
    float: left;
}
.third_last_l .tal{
	border-right: 1px dashed #c8d1e1;
}
.third_last .tal_l{
	border-right: none;
}
/*----------third_right-----------*/
.third_right {
    width: 300px;
    float: right;
    background-color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
}
.con_info_til{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #2b2b2d;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.good_shop {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.good_shop_pic {
    width: 90px;
    height: 90px;
    border: 1px solid #E6E6E6;
    margin-right: 6px;
    float: left;
}

.good_shop_pic_sub {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.good_shop_mesg {
    height: 90px;
    overflow: hidden;
}

.mesg1 {
    height: 36px;
    line-height: 18px;
    font-size: 12px;
    color: #5c5c5c;
    float: left;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}

.shop_enter_btn {
    width: 126px;
    height: 30px;
    background-color: #317ee7;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    float: left;
    margin-top: 24px;
}

.customer {
    width: 100%;
    height: 286px;
    border-bottom: 1px solid #E6E6E6;
    padding-left: 20px;
    margin-top: 10px;
}
.customer_top {
    padding: 20px 9px 0 0;
    height: 142px;
}

.customer_top p {
    margin-top: 20px;
    width: 156px;
    float: left;
    font-size: 15px;
    color: #63645e;
}

.kefu {
    float: right;

}

.cent_phone {
    margin-top: 14px;
    line-height: 20px;
}

.customer_cent {
    font-size: 14px;
    color: #63645e;
}

.cent_phone {
    background: url(../imgs/en-phone.png) no-repeat;
    padding-left: 30px;
    height: 30px;
    line-height: 24px;
}

.cent_mail {
    background: url(../imgs/mail.png) no-repeat;
    padding-left: 30px;
    height: 30px;
    line-height: 24px;
}

.customer button {
    margin: 20px 8px 0 0;
    background-color: #317ee7;
    padding: 10px 14px;
    border: none;
    font-size: 12px;
    float: left;
    border-radius: 3px;
    color: #FFFFFF;
}
.customer button a{
	display: block;
	widows: 100%;
	height: 100%;
}
.right_hot_gd{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.hot_til{
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #333333;
}
.hot_gd_list{
	width: 100%;
}
.hot_gd_item{
	width: 100%;
	height: 124px;
	padding: 10px 15px;
	border: 1px solid #DBDBDB;
}
.hot_gd_item:not(:first-child){
	border-top: none;
}
.hot_gd_pic{
	width: 92px;
	height: 92px;
	border: 1px solid #DBDBDB;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	margin-right: 10px;
	float: left;
}
.hot_gd_mesg{
	overflow: hidden;
	height: 92px;
}
.hot_gd_nm{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #2b2b2d;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hot_gd_cs{
	width: 100%;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	color: #8a8a8a;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.hot_gd_pri{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #ff0000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    background-color: rgb(0, 0, 0);
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}

.opacity {
    width: 552px;
    height: 648px;
    background-color: #FFFFFF;
    z-index: 3;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    display: none;

}

.opacity img {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.opacity_title {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-family: "microsoft yahei";
    background-color: #5e99f3;
    color: #FFFFFF;
    text-align: center;
}

.opacity_cont {
    margin: 0 auto;
    width: 442px;
}

.opacity_cont li {
    margin-top: 16px;

    font-family: "microsoft yahei";
}

.opacity_cont input {
    width: 442px;
    height: 40px;
    border: 1px solid #e6e6e6;
}

.opacity_cont textarea {
    width: 100%;
    height: 84px;
    border: 1px solid #e6e6e6;
}

.opacity_cont p {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.Code div {
    width: 190px;
    float: left;
    margin-bottom: 10px;

}

.d1 {
    margin-right: 60px;
}

.Code input {
    width: 190px;
}

.opacity a {
    display: inline-block;
    width: 440px;
    height: 50px;
    background-color: #ff9b01;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 22px;
}
/*登录弹出层开始*/
.third_box_item{
	width: 366px;
	height: 488px;
	z-index:3;
	position: fixed;
	top: 220px;
	left: 50%;
	margin-left: -183px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px 2px #d4d4d4;
}
.third_top{
	width: 100%;
	height: 46px;
	line-height: 46px;
	color: #FFFFFF;
	font-size: 20px;
	background-color: #0e82f9;
	text-align: center;

}
.third_top a{
	font-size: 16px;
	position: absolute;
	right: 10px;
}
.third_cent{
	padding-left: 28px;
	padding-right: 28px;
}
.third_cent_span{
	height: 70px;
	line-height: 70px;
}
.third_cent_itam{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #c8c8c8;
}
.third_cent_itam img{
	margin-top: 7px;
	margin-left: 8px;
}
.third_cent_itam span{
	width: 40px;
	height: 40px;
	float: left;
	background-color: #e3e3e3;
}
.third_cent_itam input{
	height: 40px;
	border: none;
	width: 268px;
}
.third_fot_btn{
	margin-top: 42px;
	width: 100%;
	height: 50px;
	background-color: #0e82f9;
	color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	border-radius: 8px;
	cursor:pointer;
}
.third_cent a{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 12px;
	float: right;
	color: #acacac;
}

.third_cent a:hover{
color: #0e82f9;
}
/*end 弹出层*/