html,body{
	width: 100%;
	height: 100%;
	
}
.entire{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
/*-------------------顶部搜索样式开始--------------------------*/
.first{
	width: 100%;
	height: 224px;
	padding-top: 68px;
}
.first_sub{
	width: 1143px;
	height: 100%;
	margin: 0 auto;
}
.logo{
	width: 175px;
	height: 73px;
	margin-top: 12px;
	background: url(../imgs/logo_hualang3.png) no-repeat center;
	background-size: contain;
	float: left;
}
.search_area{
	width: 651px;
	height: 114px;
	float: left;
	margin-left: 126px;
}
.search_box_mn{
	width: 100%;
	height: 38px;
}
.search_box_mn li{
	width: 78px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	float: left;
	color: #067ebd;
	font-size: 14px;
	cursor: default;
}
.search_box_mn .search_li_active{
	background-color: #317ee7;
	color: #fff;
}
.search_box{
	width: 100%;
	height: 46px;
}
.input_box{
	width: 594px;
	height: 100%;
	float: left;
	border: 2px solid #317ee7;
}
.input_box input{
    display: block;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 12px;
}
.search_btn{
	width: 57px;
	height: 100%;
	background: url(../imgs/search_icon.png) no-repeat center;
	background-size: 24px 24px;
	background-color: #317ee7;
	float: right;
	cursor: pointer;
}
.search_history{
	margin-top: 14px;
	font-size: 14px;
	line-height: 22px;
	height: 22px;
}
.search_history a{
	color: #666666;
}
.shop_cart{
    width: 150px;
    height: 47px;
    background: url(../imgs/icon_shop_cart.png) no-repeat;
    background-size: 42px 33px;
    background-position: 26px center;
    background-color: #f2f4f7;
    padding-left: 74px;
    line-height: 47px;
    margin-top: 38px;
    margin-left: 33px;
    font-size: 14px;
    color: #022133;
    border-radius: 5px;
}

/*-------------------顶部搜索样式结束--------------------------*/
/*-------------------------------------second------------------------------------------*/

/*-------------------菜单导航样式开始--------------------------*/
.second{
	width: 100%;
    height: 42px;
    border-bottom: 3px solid #808080;
}
.second_mn{
	width: 848px;
	height: 40px;
	margin: 0 auto;
}
.second_mn li{
	width: 106px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
	
}
.second_mn li a{
    font-size: 16px;
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}

.second_mn .li_active{
	background-color: #317ee7;
}
.second_mn .li_active a{
	color: #fff;
}
/*-------------------菜单导航样式结束--------------------------*/
/*------------------------------------------third-----------------------------------------------*/
.third{
	width: 100%;
    margin-bottom: 36px;
}
.third_sub{
	width: 1200px;
	padding-top: 32px;
	margin: 0 auto;
}
.third_til_btn{
	width: 82px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background-color: #118ec4;
}
.goods_list{
	width: 100%;
	padding-top: 10px;
}
.list_item{
	width: 100%;
	height: 278px;
	margin-top: 10px;
	border: 1px solid #E6E6E6;
}
.pic{
	width: 180px;
	height: 184px;
	border: 1px solid #E6E6E6;
	background: no-repeat center;
	background-size: 100% 100%;
	float: left;
	margin: 31px 0 0 40px;
}
.mesg{
	width: 794px;
	float: left;
	margin-left: 36px;
	margin: 31px 0 0 36px;
}
.gda{
	width: 100%;
	height: 44px;
	border: 1px solid #E6E6E6;
}
.tal_nm{
	width: 85px;
	height: 100%;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	color: #121212;
	font-weight: bold;
	float: left;
}
.tal{
	width: 707px;
	float: left;
}
.tal_row{
	width: 100%;
	height: 44px;
}
.tal_a,.tal_b,.tal_c{
	height: 100%;
	font-size: 14px;
	color: #808080;
	float: left;
	line-height: 44px;
}
.tal_a{
	width: 227px;
}
.tal_b,.tal_c{
	text-align: center;
}

.tal_b{
	width: 242px;
}
.tal_c{
	width: 236px;
}
.tal_line{
	width: 1px;
	height: 20px;
	margin-top: 12px;
	background-color: #808080;
	float: left;
}
.gdb{
	width: 100%;
	border: 1px solid #E6E6E6;
	margin-top: 10px;
}
.btn_list{
	width: 100%;
	margin-top: 18px;
	height: 27px;
}
.btn_a,.btn_b{
	width: 73px;
	height: 100%;
	background-color: #118ec4;
	font-size: 12px;
	color: #fff;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.btn_a{
	margin-left: 295px;
}
.btn_b{
	margin-left: 30px;
}
.page{
	width: 1200px;
	height: 40px;
	margin: 30px auto 0 auto;
	position: relative;
	text-align: center;
}
.page_sub{
	display: inline-block;
	height: 100%;
}
.page_sub>span{
	display: inline-block;
	float: left;
	cursor: pointer;
}
.first_page,.last_page{
	width: 50px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	background-color: #118ec4;
	margin-top: 9px;
}
.pre_page,.nxt_page{
	width: 63px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	background-color: #118ec4;
	margin-top: 14px;
}
.num_page{
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #808080;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	margin-top: 18px;
	
}

.pre_page,.last_page,.num_page{
	margin-left: 15px;
}
.num_page:nth-child(3){
	margin-left: 56px;
}
.nxt_page{
	margin-left: 56px;
}
.num_active{
	color: #fff;
	background-color: #118ec4;
}