html,body{
	width: 100%;
	height: 100%;
	position: relative;
}
.entire{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

/*-------------------顶部搜索样式开始--------------------------*/
.first{
	width: 100%;
	height: 224px;
	padding-top: 68px;
}
.first_sub{
	width: 1143px;
	height: 100%;
	margin: 0 auto;
}
.logo{
	width: 175px;
	height: 73px;
	margin-top: 12px;
	background: url(../imgs/logo_hualang3.png) no-repeat center;
	background-size: contain;
	float: left;
}
.search_area{
	width: 651px;
	height: 114px;
	float: left;
	margin-left: 126px;
}
.search_box_mn{
	width: 100%;
	height: 38px;
}
.search_box_mn li{
	width: 78px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	float: left;
	color: #067ebd;
	font-size: 14px;
	cursor: default;
}
.search_box_mn .search_li_active{
	background-color: #317ee7;
	color: #fff;
}
.search_box{
	width: 100%;
	height: 46px;
}
.input_box{
	width: 594px;
	height: 100%;
	float: left;
	border: 2px solid #317ee7;
}
.input_box input{
    display: block;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 12px;
}
.search_btn{
	width: 57px;
	height: 100%;
	background: url(../imgs/search_icon.png) no-repeat center;
	background-size: 24px 24px;
	background-color: #317ee7;
	float: right;
	cursor: pointer;
}
.search_history{
	margin-top: 14px;
	font-size: 14px;
	line-height: 22px;
	height: 22px;
}
.search_history a{
	color: #666666;
}
.shop_cart{
    width: 150px;
    height: 47px;
    background: url(../imgs/icon_shop_cart.png) no-repeat;
    background-size: 42px 33px;
    background-position: 26px center;
    background-color: #f2f4f7;
    padding-left: 74px;
    line-height: 47px;
    margin-top: 38px;
    margin-left: 33px;
    font-size: 14px;
    color: #022133;
    border-radius: 5px;
}

/*-------------------顶部搜索样式结束--------------------------*/
/*-------------------------------------second------------------------------------------*/

/*-------------------菜单导航样式开始--------------------------*/
.second{
	width: 100%;
    height: 42px;
    border-bottom: 3px solid #808080;
}
.second_mn{
	width: 848px;
	height: 40px;
	margin: 0 auto;
}
.second_mn li{
	width: 106px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
	
}
.second_mn li a{
    font-size: 16px;
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}

.second_mn .li_active{
	background-color: #317ee7;
}
.second_mn .li_active a{
	color: #fff;
}
/*-------------------菜单导航样式结束--------------------------*/
.crumb{
	width: 1200px;
	height: 24px;
	line-height: 24px;
	margin: 23px auto 0 auto;
	font-size: 18px;
	color: #999;
}
/*-------------------------------------third------------------------------------*/
.third{
	width: 1200px;
	margin: 46px auto 36px auto;
}
.good_area_list{
	width: 100%;
}
.good_item{
	width: 100%;
	margin-top: 5px;
}
.good_item_head{
	width: 100%;
	height: 55px;
	background-color: #cde9f8;
	padding-left: 20px;
	padding-right: 24px;
}
.good_name{
	float: left;
	font-size: 18px;
	color: #005e91;
	height: 100%;
	line-height: 55px;
}
.icon_btn{
	float: right;
	width: 27px;
	height: 16px;
	margin-top: 20px;
	background:no-repeat center;
	background-size: 27px 16px;
}
.icon_hide{
	background-image: url(../imgs/up.png);
}
.icon_show{
	background-image: url(../imgs/up_2.png);
}
.good_item_panel{
	width: 100%;
}

.u_mesg{
	width: 100%;
	height: 92px;
    margin-bottom: 20px;
}
.u_head{
	width: 92px;
	height: 100%;
	border-radius: 50%;
	background: no-repeat center;
    background-size: 100% 100%;
	float: left;
}
.u_nm{
	float: left;
	height: 100%;
	line-height: 92px;
	font-size: 16px;
	color: #000;
	margin-left: 15px;
}
.u_nm span{
	color: #999;
}
.blue_space{
	width: 100%;
	height: 28px;
	margin-top: 27px;
	background-color: #cde9f8;
}
.dt_block{
	margin-top: 41px;
	width: 875px;
	margin: 44px auto 0 auto;
}
.dt_a{
	width: 100%;
}
.dt_a_til{
	width: 100%;
	height: 43px;
	padding-left: 27px;
	border: 1px solid #E6E6E6;
}
.til_point{
	margin-top: 17px;
	width: 8px;
	height: 8px;
	background-color: #0392dd;
	float: left;
	border-radius: 50%;
}
.til_txt{
	margin-left: 8px;
	height: 100%;
	line-height: 43px;
	float: left;
	font-size: 18px;
	color: #0392dd;
}
/*.tal_row{
	width: 100%;
	height: 43px;
	border: 1px solid #E6E6E6;
}
.tal_l{
	border-right: 1px solid #E6E6E6;
}
.tal_l,.tal_r{
	width: 50%;
	height: 100%;
	line-height: 43px;
	padding-left: 26px;
	float: left;
}
.tal_row_pic{
	width: 100%;
	height: 129px;
}
.row_mesg,.tal_pic{
	width: 50%;
	height: 100%;
	float: left;
	border: 1px solid #E6E6E6;
}
.row_mesg_l{
	width: 100%;
	height: 43px;
	line-height: 43px;
	padding-left: 26px;
	border-bottom: 1px solid #E6E6E6;
}
.tal_pic{
	padding-left: ;
}
.pic_txt{
	width: 100%;
	padding-left: 26px;
	height: 43px;
	line-height: 43px;
}
.pic_list{
	width: 100%;
	height: 86px;
}
.pic_list div{
	width: 120px;
	height: 77px;
	margin-left: 18px;
	background-color: #888888;
	float: left;
	background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}*/
.gd_cs_panel{
	width: 1200px;
	margin: 46px auto 36px auto;
}
.third_left{
	width: 922px;
	border: 1px solid #E6E6E6;
	padding-bottom: 44px;
    margin: 0 auto;
}
.third_left_one{
	width: 100%;
	
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 35px;
}
.third_left_one_sub{
	width: 100%;
}
.two_name{
	width: 480px;
	font-size: 20px;
	color: #333;
	line-height: 32px;
	float: left;
}
.two_price{
	float: right;
	width: 218px;
}
.pr_num{
	color: #ef2f2e;
	font-size: 12px;
	line-height: 32px;
}
.num_a{
	font-size: 22px;
}
.pr_tip{
	width: 100%;
	font-size: 14px;
	color: #b2b2b2;
	line-height: 32px;
}
.jjzt{
	width: 70px;
	height: 24px;
	background-color: #fe3333;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-top: 20px;
}
.two_cs{
	margin-top: 24px;
    width: 869px;
    height: 124px;
}
.cs_list{
	width: 568px;
	padding-left: 24px;
	float: left;
}
.cs_list li{
	float: left;
	min-width: 33.33%;
	margin-top: 12px;
	
}
.cs_list label{
	color: #666;
}
.cs_list span{
	color: #000;
}
.enter_price{
	width: 212px;
	height: 57px;
	margin-top: 25px;
	border-left: 1px solid #ccc;
	float: right;
}
.enter_price_btn{
    width: 139px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background-color: #fe9933;
    font-size: 16px;
    color: #fff;
    margin: 7px auto;
    cursor: pointer;
}
/*.progress{
    width: 820px;
	height: 20px;
	margin: 33px auto 0 28px;
}
.pro{
	height: 20px;
	float: left;
}
.pro:first-child{
	width: 20px;
}

.pro:not(:first-child){
	width: 160px;
}
.pro .line{
	width:140px;
	height: 2px;
	margin-top: 9px;
	float: left;
	background-color: #ebebeb;
}
.pro .pointer{
	float: left;
	width:20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ebebeb;
}
.pro_active .line,.pro_active .pointer{
	background-color: #ff9933;
}

.pro_txt{
	width: 100%;
	margin-top: 10px;
}
.txt_item{
	width: 76px;
	float: left;
}
.txt_item p{
	width: 100%;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #B2B2B2;
}
.txt_active p{
	color: #585858;
}
.txt_item:not(:first-child){
	margin-left: 84px;
}*/
.gray{
	width: 100%;
	height: 10px;
	background-color: #f7f7f7;
}
.third_left_two{
	width: 100%;
	margin-top: 36px;
}
.two_til{
	width: 100%;
	height: 24px;
	line-height: 24px;
	padding-left: 20px;
	font-size: 18px;
	color: #333;
}
/*轮播样式*/
.swiper_area{
	width: 100%;
	height: 195px;
	margin:24px auto 0 auto;
    padding-bottom: 37px;
    border-bottom: 1px solid #e6e6e6;
}
.swiper-container,.three_swiper-container,.four_swiper-container{
	width: 814px;
	height: 158px;
	margin:0 auto;
	position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-slide{
	height: 100%;
	overflow: hidden;
}
.img_area{
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.img_area img{
	position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.swiper-slide p{
	margin-top: 10px;
	width: 100%;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #999;
}
.swiper-slide video{
	max-width: 814px;
	max-height: 158px;
}
.swiper-button-prev{
	top: 86px;
	width: 17px;
	height: 28px;
    background-image: url(../imgs/arrow_pre.png);
    background-size: 17px 28px;
}
.swiper-button-next{
	top: 86px;
	width: 17px;
	height: 28px;
    background-image: url(../imgs/arrow_nxt.png);
    background-size: 17px 28px;
}
.third_left_three{
	width: 100%;
	margin-top: 30px;
}
.three_pic_list{
	width: 100%;
	height: 170px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 51px;
	border-bottom: 1px solid #E6E6E6;
}
.three_item{
	width:170px;
	height: 139px;
	background: no-repeat center;
	background-size: contain;
}
.wj{
	width: 100%;
	height: 101px;
	margin-top: 42px;
}
.wj_item{
    width: 876px;
    height: 101px;
    margin-left: 46px;
	padding-right: 22px;
}
.wj_icon{
	width: 60px;
	height: 66px;
	border: 1px solid #E6E6E6;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	float: left;
    margin-top: 17px;
}
.wj_xx{
	margin-left: 14px;
	float: left;
	height: 100%;
	padding-top: 25px;
}
.wj_nm{
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	color: #333333;
}
.wj_size{
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #808080;
}
.xz_btn{
	margin-top: 30px;
	width: 115px;
	height: 40px;
	line-height: 40px;
	color: #44b2f5;
	font-size: 16px;
	border: 1px solid #44b2f5;
	border-radius: 5px;
	float: right;
	background: url(../imgs/goos/xz.png) no-repeat;
	background-size: 20px 20px;
	background-position: 65px center;
	padding-left: 23px;
	cursor: pointer;
}
.third_left_seven{
	width:100%;
}
.wj_list{
	width: 100%;
	margin-top: 42px;
}
.third_left_seven .wj_item{
	border-bottom: 1px solid #E6E6E6;
	
}
.third_left_four{
	width: 100%;
	margin-top: 30px;
}
.four_pic_list{
	width: 100%;
	height: 170px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 51px;
	border-bottom: 1px solid #E6E6E6;
}
.four_item{
	width:217px;
	height: 145px;
	background: no-repeat center;
	background-size: contain;
	float: left;
	overflow: hidden;
	border: 1px solid #E6E6E6;
}
.four_item:not(:first-child){
	margin-left: 26px;
}
.four_item img,.four_item video{
	max-width:217px;
	max-height: 145px;
}
.vedio_area{
	width: 100%;
	height: 100%;
	position: relative;
}
/*.vedio_area video{
	width: 217px;
	height: 145px;
}*/
.play_di{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	
}
.play_btn{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
    width: 30px;
    height: 40px;
    border-top: 20px solid rgba(0,0,0,0);
    border-bottom: 20px solid rgba(0,0,0,0);
    border-left: 30px solid #fff;
}


.third_left_five,.third_left_six{
	width: 100%;
	margin-top: 30px;
}

.tal{
	width: 869px;
	font-size: 16px;
	margin-top: 27px;
	margin-left: 20px;
}
.tal_row,.tal_row_r{
	padding-left: 16px;
}
.tal_row,.tal_row_l,.tal_row_r{
	color: #666;
	line-height: 52px;
}
.tal_row{
	width: 100%;
	height: 50px;
	border: 1px solid #E6E6E6;
}
.tal_row_l{
	width: 50%;
	height: 100%;
	border-right: 1px solid #E6E6E6;
	float: left;
}
.tal_row_r{
	width: 50%;
	height: 100%;
	float: right;
}


.all_btn{
	width: 286px;
	height: 55px;
	background-color: #ff9c00;
	border-radius: 27px;
	font-size: 24px;
	color: #fff;
	line-height: 55px;
	text-align: center;
	margin: 72px auto 0 auto;
	cursor: pointer;
}
/*-------------显示大图区域样式---------*/
.result{
    z-index: 11;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}
.indiv{
	 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 12;
    display: inline-block;
    width: auto;
    height: auto;
}
