[v-cloak] {
    display: none;
}

html, body {
    min-width: 1400px;
    width: 100%;
    min-height: 100%;
    background-color: #f2f3f7;
}


.entire {
    width: 100%;

    background-repeat: no-repeat;
    background-position: left 92px;
    background-size: 100% 1032px;
}

/*----------------------第一块布局样式----------------------------------------------------*/
.first {
    width: 1200px;
    height: 430px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 6px;

}

