html,body{
	width: 100%;
	min-height: 100%;
	
}
.entire{
	width: 100%;
}

/*--------------------------------first-----------------------------------------------*/
.first{
	width: 100%;
	/*height: 105px;*/
    border-bottom: 4px solid #0696dc;
}
.first_sub{
	width: 1200px;
	height: 91px;
	margin: 0 auto;
}
.logo{
    width: 214px;
    height: 94px;
    background: url(../imgs/top_bottom/search_logo.png) no-repeat center;
    background-size: 80% 80%;
    float: left;
    cursor: pointer;

}



.mn_list{
	height: 50px;
	float: left;
	margin-top: 41px;
	margin-left: 50px;
	float: left;
}
.mn_list li{
	padding-left: 34px;
	padding-right: 34px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	float: left;
}
.mn_active{
	background-color: #0696dc;
	color: #fff;
}
.mesg_tip{
	background-image: url(../imgs/red_point.png); 
	background-repeat:no-repeat;
    background-position: 73px 17px;
	background-size: 7px 7px;
}
.search_area{
	width: 446px;
	height: 45px;
	border: 1px solid #0587d0;
	float: right;
	padding-right: 22px;
	margin-top: 30px;
}
.search_input{
	width: 397px;
	height: 100%;
	float: left;
}
.search_input input{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 10px;
}
.search_btn{
	float: right;
	width: 25px;
	height: 100%;
	background: url(../imgs/per_search.png) no-repeat center;
	background-size: 25px 25px;
	cursor: pointer;
	padding-left: 0;
}
/*------------------------second-------------------------------------------*/
.second{
	width: 100%;
	padding-top: 21px;
}
.second_sub{
	width: 1200px;
	margin: 0 auto;
}
.second_mn{
	width: 206px;
	height: 834px;
	position: relative;
	float: left;
}
.second_mn_list{
	width: 100%;
}
.second_mn_list li{
	padding-left: 37px;
	width: 100%;
	height: 53px;
	line-height: 43px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.second_mn_list li:not(:first-child){
	margin-top: 10px;
}
.current_bg{
	background: url(../imgs/per_li_bg.png) no-repeat center;
	background-size: 205px 53px;
	color: #fff;
}
.mn_bg{
	width: 191px;
	height: 100%;
	position: absolute;
	background-color: #F7F7F7;
	top: 0;
	right: 0;
	z-index: -1;
}
/*---------second_two----------------------*/
.second_two{
	float: left;
	width: 621px;
	margin-left: 30px;
}
.jbxx{
	width: 100%;
	margin-left:50px;
	position:relative;
}
.head_pic{
	width: 97px;
	height: 97px;
	border-radius: 50%;
	border: 1px solid #E6E6E6;
	background: no-repeat center;
	background-size: 100% 100%;
	float:left;
}
.xgtx_op{
	width: 200px;
	height: 24px;
	line-height: 24px;
	color: #0696dc;
	cursor: pointer;
	position: relative;
	margin: 10px auto 0 auto;
	text-align: center;
	float:left;
}
.xgtx_op input[type="file"]{
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.a1{width: 250px; height: 80px; margin-bottom:50px;}

.a1 button{
	margin-left: 120px;
	border: none;
	width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    background-color: #ffb83d;
	position:absolute;
	top:50px;
	left:10px;
}
.item_a,{
	width: 100%;
	height: 42px;
	margin-top: 80px;
}
.item_b{
	width: 100%;
	height: 42px;
	margin-top: 50px;
}
.input_label{
	width: 110px;
	text-align: right;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	color: #323232;
	float: left;
}
.input_txt{
	margin-left: 12px;
	width: 456px;
	height: 42px;
	float: left;
	line-height: 42px;
	font-size: 18px;
	color: #323232;
}
.input_box{
	margin-left: 12px;
	width: 456px;
	height: 42px;
	float: left;
	border: 1px solid #E6E6E6;
}
.input_box input{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
}
.item_b select{
	float: left;
	margin-left: 12px;
	width: 108px;
	height: 42px;
	padding-left: 20px;
	font-size: 18px;
	color: #323232;
}
.adr{
	height: 42px;
	margin-left: 12px;
	float: left;
}
.city-picker-selector .selector-item {
    border: 1px solid #ccc;
    width: 144px;
    height: 42px;
    line-height: 40px;
    float: left;
    margin-left: 20px;
    position: relative;
    background: #fff;
}
.save_btn{
	width: 200px;
	height: 44px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	text-align: center;
	background-color: #2074b7;
	margin-top: 73px;
	margin-left:80px;
	border-radius: 10px;
	cursor: pointer;
}
/*-------second-three--------*/
.second_three{
	width: 320px;
	height: 384px;
	border: 1px solid #fee49c;
	background-color: #ffffe2;
	float: right;
	padding-left: 18px;
	padding-right: 18px;
}
.second_three_til{
	width: 100%;
	height: 50px;
	line-height: 49px;
	font-size: 16px;
	color: #ff7b1a;
	border-bottom: 1px dashed #fee49c;
}
.bj_list{
	width: 100%;
}
.bj_item{
	width: 100%;
	font-size: 12px;
	color: #666;
	margin-top: 14px;
}
.bj_gd{
	line-height: 20px;
	width: 171px;
	float: left;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;

}
.bj_num{
	height: 20px;
	line-height: 20px;
	width: 97px;
	text-align: right;
	float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
