html,body{
	width: 100%;
	height: 100%;
	
}
.entire{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

/*-------------------顶部搜索样式开始--------------------------*/
.first{
	width: 100%;
	height: 224px;
	padding-top: 68px;
}
.first_sub{
	width: 1143px;
	height: 100%;
	margin: 0 auto;
}
.logo{
	width: 175px;
	height: 73px;
	margin-top: 12px;
	background: url(../imgs/logo_hualang3.png) no-repeat center;
	background-size: contain;
	float: left;
}
.search_area{
	width: 651px;
	height: 114px;
	float: left;
	margin-left: 126px;
}
.search_box_mn{
	width: 100%;
	height: 38px;
}
.search_box_mn li{
	width: 78px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	float: left;
	color: #067ebd;
	font-size: 14px;
	cursor: default;
}
.search_box_mn .search_li_active{
	background-color: #317ee7;
	color: #fff;
}
.search_box{
	width: 100%;
	height: 46px;
}
.input_box{
	width: 594px;
	height: 100%;
	float: left;
	border: 2px solid #317ee7;
}
.input_box input{
    display: block;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 12px;
}
.search_btn{
	width: 57px;
	height: 100%;
	background: url(../imgs/search_icon.png) no-repeat center;
	background-size: 24px 24px;
	background-color: #317ee7;
	float: right;
	cursor: pointer;
}
.search_history{
	margin-top: 14px;
	font-size: 14px;
	line-height: 22px;
	height: 22px;
}
.search_history a{
	color: #666666;
}
.shop_cart{
    width: 150px;
    height: 47px;
    background: url(../imgs/icon_shop_cart.png) no-repeat;
    background-size: 42px 33px;
    background-position: 26px center;
    background-color: #f2f4f7;
    padding-left: 74px;
    line-height: 47px;
    margin-top: 38px;
    margin-left: 33px;
    font-size: 14px;
    color: #022133;
    border-radius: 5px;
}

/*-------------------顶部搜索样式结束--------------------------*/
/*-------------------------------------second------------------------------------------*/

/*-------------------菜单导航样式开始--------------------------*/
.second{
	width: 100%;
    height: 42px;
    border-bottom: 3px solid #808080;
}
.second_mn{
	width: 848px;
	height: 40px;
	margin: 0 auto;
}
.second_mn li{
	width: 106px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 40px;
	
}
.second_mn li a{
    font-size: 16px;
    color: #333333;
    display: block;
    width: 100%;
    height: 100%;
}

.second_mn .li_active{
	background-color: #317ee7;
}
.second_mn .li_active a{
	color: #fff;
}
/*-------------------菜单导航样式结束--------------------------*/
.crumb{
	width: 1200px;
	height: 24px;
	line-height: 24px;
	margin: 23px auto 0 auto;
	font-size: 18px;
	color: #999;
}
/*-------------------------------------third------------------------------------*/
.third{
	width: 1200px;
	margin: 46px auto 36px auto;
}
.third_left{
	width: 922px;
	float: left;
}
.third_left_one{
	width: 100%;
	height: 170px;
	border: 1px solid #E6E6E6;
	padding-top: 20px;
	padding-left: 16px;
	position: relative;
}
.head_area{
	width: 100%;
	height: 72px;
}
.head{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	border: 1px solid #E6E6E6;
	float: left;
	background: no-repeat center;
	background-size: 100% 100%;
}
.p_mesg{
	float: left;
	margin-left: 15px;
}
.name{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #333;
}
.p_bg{
	margin-top: 5px;
	width: 41px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #029ae7;
}
.g_mesg{
	width: 100%;
	margin-top: 19px;
}
.g_mesg_a,.g_mesg_b{
	font-size: 14px;
	float: left;
}
.g_mesg_b{
	margin-left: 140px;
}
.g_mesg_a label,.g_mesg_b label{
	color: #999;
}
.g_mesg_a span,.g_mesg_b span{
	color: #333;
}
.yjjb_btn{
	position: absolute;
	right: 40px;
	bottom: 30px;
	width: 160px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fe9933;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.third_left_two{
	width: 100%;
	height: 510px;
	border: 1px solid #E6E6E6;
	padding-top: 28px;
	padding-left: 16px;
	padding-right: 16px;
}
.gn{
	width: 100%;
	font-size: 20px;
	color: #333;
}
.gn span{
	color: #fe9933;
}
/*轮播样式*/
.swiper_area{
	width: 100%;
	height: 405px;
	position: relative;
	margin:24px auto 0 auto;
    padding-bottom: 12px;
}
.swiper-container{
	width: 801px;
	height: 356px;
	margin:0 auto;
}
.swiper-slide{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 1px solid #ffd4a9;
	background-color: #fff8f1;
	padding-left: 18px;
	padding-top: 19px;
}
.swiper-button-prev{
	top: 165px;
	width: 20px;
	height: 36px;
    background-image: url(../imgs/arrow3_pre.png);
    background-size: contain;
}
.swiper-button-next{
	top: 165px;
	width: 20px;
	height: 36px;
    background-image: url(../imgs/arrow3_nxt.png);
    background-size: contain;
}
.swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    margin-left: 18px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fe9933;
}
.swiper-pagination {
    right: 83px;
    bottom: 12px;
}
/*------------swiper-slide内容样式-----------------*/
.two_name{
	width: 480px;
	font-size: 22px;
	color: #333;
	line-height: 32px;
	float: left;
}
.two_price{
	float: right;
	width: 218px;
}
.pr_num{
	color: #ef2f2e;
	font-size: 12px;
	line-height: 32px;
}
.num_a{
	font-size: 22px;
}
.pr_tip{
	width: 100%;
	font-size: 14px;
	color: #b2b2b2;
	line-height: 32px;
}
.jjzt{
	width: 70px;
	height: 24px;
	background-color: #fe3333;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-top: 20px;
}
.two_cs{
	margin-top: 24px;
	width: 100%;
	height: 108px;
	background-color: #f5ece3;
}
.cs_list{
	width: 568px;
	padding-left: 24px;
	float: left;
}
.cs_list li{
	float: left;
	min-width: 33.33%;
	margin-top: 12px;
	
}
.cs_list label{
	color: #666;
}
.cs_list span{
	color: #000;
}
.enter_price{
	width: 212px;
	height: 57px;
	margin-top: 25px;
	border-left: 1px solid #ccc;
	float: right;
}
.enter_price_btn{
    width: 139px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background-color: #fe9933;
    font-size: 16px;
    color: #fff;
    margin: 7px auto;
    cursor: pointer;
}
/*.progress{
	width: 688px;
	height: 18px;
	margin: 33px auto 0 auto;
}
.pro{
	height: 18px;
	float: left;
}
.pro:first-child{
	width: 18px;
}

.pro:not(:first-child){
	width: 134px;
}
.pro .line{
	width:116px;
	height: 2px;
	margin-top: 8px;
	float: left;
	background-color: #ebebeb;
}
.pro .pointer{
	float: left;
	width:18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ebebeb;
}
.pro_active .line,.pro_active .pointer{
	background-color: #ff9933;
}

.pro_txt{
	width: 100%;
	margin-top: 10px;
}
.txt_item{
	width: 118px;
	float: left;
}
.txt_item p{
	width: 100%;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #B2B2B2;
}
.txt_active p{
	color: #585858;
}
.txt_item:not(:first-child){
	margin-left: 14px;
}*/
/*-------third-left_three------*/
.third_left_three{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #E6E6E6;
	padding-top: 10px;
	padding-bottom: 38px;
}
.third_left_three_til{
	width: 100%;
	height: 53px;
	line-height: 53px;
	font-size: 20px;
	color: #333;
}
.tlt_yjjjz_list{
	width: 100%;
}
.yjjjz_item{
	width: 100%;
}
.yjjjz_item:not(:first-child){
	margin-top: 28px;
}
.yjjjz_item_one {
    width: 100%;
    height: 116px;
    border: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-left: 16px;
    position: relative;
}
.yjjjz_item_mesg{
	position: absolute;
	bottom: 17px;
	left: 36px;
}
.yjjjz_item_two{
	width: 100%;
	height: 140px;
	padding-left: 104px;
	padding-top: 17px;
	border: 1px solid #E6E6E6;
	border-top-color: transparent;
	position: relative;
}
.zb_tip{
	position: absolute;
	right: 25px;
	bottom: 11px;
	width: 69px;
	height: 69px;
	background: url(../imgs/zb.png) no-repeat center;
	background-size: 69px 69px;
}
.jj_gd_nm{
	width: 400px;
	height: 60px;
	font-size: 18px;
	color: #333333;
	line-height: 30px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	float: left;
}
.jj_gd_pri{
	width: 180px;
	float: right;
}
.jj_gd_pri_num{
	color: #ef2f2e;
	line-height: 30px;
}

.jj_gd_pri_num span{
	font-size: 20px;
	
}
.jj_pri_tip{
	font-size: 14px;
	color: #b2b2b2;
}
.jj_item_nm{
	width: 100%;
	height: 20px;
	margin-top: 21px;
}
.jj_nm_a{
	font-size: 14px;
	float: left;
	line-height: 20px;
}
.jj_nm_a:not(:first-child){
	margin-left: 68px;
}
.jj_nm_a label{
	color: #999;
}
.jj_nm_a span{
	color: #000;
}
/*----------third_right-----------*/
.third_right{
	width: 252px;
	float: right;
}

.goods_hot{
	width: 100%;
}
.goods_hot_tip{
	width: 100%;
	height: 58px;
	line-height: 58px;	
	padding-left: 16px;
	border: 1px solid #E6E6E6;
	font-size: 20px;
	color: #666;
	
}
.good_hot_list{
	width: 100%;
}
.good_hot_item{
	width: 100%;
	height: 433px;
}
.good_hot_item:not(:first-child){
	margin-top: 30px;
}
.hot_pic{
	width: 100%;
	height: 303px;
	border: 1px solid #E6E6E6;
	background: no-repeat center;
	background-size: 100% 100%;
}
.hot_mesg{
	width: 100%;
	height: 130px;
	border: 1px solid #E6E6E6;
}
.hot_mesg p{
	width: 100%;
	height: 24px;
	line-height: 24px;
	padding-left: 16px;
}
.hot_name{
	margin-top: 20px;
	font-size: 18px;
	color: #666;
}
.hot_nomal{
	margin-top: 10px;
	font-size: 16px;
	color: #999;
}
.hot_nomal span{
	color: #666;
}
.hot_price{
	margin-top: 10px;
	font-size: 16px;
	color: #999;
}
.hot_price span{
	color: #ffb5ae;
}
/*弹框*/
.alert_div{
	width: 200px;
	height: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #f8f8f8;
}
.alert_top{
	width: 100%;
	height: 30px;
	text-align: right;
	background-color: #eee;
}
.alert_close{
	font-size: 16px;
	color: #333;
	display: inline-block;
	height: 100%;
	line-height: 30px;
	padding-right: 10px;
	cursor: pointer;
}
.alert_con{
	width: 100%;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	color: #333;
	margin-top: 15px;
}
.alert_btn_area{
	width: 100%;
	height: 30px;
	padding:0 10px;
	text-align: center;
	margin-top: 15px;
}
.alert_btn_area>div{
	display: inline-block;
	width: 60px;
	height: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 30px;

}
.alert_btn_a{
	background-color: #1e9fff;
	color: #fff;
}
.alert_btn_b{
	border: 1px solid #eee;
	background-color: #fff;
	color: #555;
	margin-left: 10px;
	cursor: pointer;
}


