html,body{
	width: 100%;
	height: 100%;
	
}
.entire{
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

/*--------------------------------first-----------------------------------------------*/
.first{
	width: 100%;
	/*height: 105px;*/
	padding-top: 68px;
    border-bottom: 4px solid #1a669f
}
.first_sub{
	width: 1200px;
	height: 105px;
	margin: 0 auto;
}
.logo{
    width: 214px;
    height: 94px;
    background: url(../imgs/logo_welcom4.png) no-repeat center;
    background-size: contain;
    float: left;
    margin-top: 11px;
}
.mn_list{
	height: 64px;
	float: left;
	margin-top: 41px;
	margin-left: 50px;
	float: left;
}
.mn_list li{
	padding-left: 34px;
	padding-right: 34px;
	height: 64px;
	line-height: 64px;
	font-size: 18px;
	float: left;
}
.mn_active{
	background-color: #0696dc;
	color: #fff;
}
.mesg_tip{
	background-image: url(../imgs/red_point.png); 
	background-repeat:no-repeat;
    background-position: 73px 17px;
	background-size: 7px 7px;
}
.search_area{
	width: 446px;
	height: 45px;
	border: 1px solid #0587d0;
	float: right;
	padding-right: 22px;
	margin-top: 30px;
}
.search_input{
	width: 397px;
	height: 100%;
	float: left;
}
.search_input input{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 10px;
}
.search_btn{
	float: right;
	width: 25px;
	height: 100%;
	background: url(../imgs/per_search.png) no-repeat center;
	background-size: 25px 25px;
	cursor: pointer;
}
/*------------------------second-------------------------------------------*/
.second{
	width: 100%;
	padding-top: 21px;
}
.second_sub{
	width: 1200px;
	margin: 0 auto;
    margin-bottom: 36px;
}
.second_mn{
	width: 206px;
	height: 834px;
	position: relative;
	float: left;
}
.second_mn_list{
	width: 100%;
}
.second_mn_list li{
	padding-left: 37px;
	width: 100%;
	height: 53px;
	line-height: 43px;
}
.second_mn_list li:not(:first-child){
	margin-top: 10px;
}
.current_bg{
	background: url(../imgs/per_li_bg.png) no-repeat center;
	background-size: 205px 53px;
	color: #fff;
}
.mn_bg{
	width: 191px;
	height: 100%;
	position: absolute;
	background-color: #F7F7F7;
	top: 0;
	right: 0;
	z-index: -1;
}
.second_two{
	float: left;
	width: 958px;
	margin-left: 16px;
}
.tab_div{
	width: 100%;
	height: 71px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #01a0ed;
}
.tab_div li{
	width: 224px;
	height: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 20px;
	color: #333;
	float: left;
	cursor: pointer;
}
.tab_div .tab_li_current{
	background-color: #01a0ed;
	color: #fff;
}
.con_list{
	width: 100%;
}
.con{
	width: 100%;
}
/*我参与易货的订单列表样式*/
.goods_list{
	width: 100%;
	padding-top: 10px;
}
.list_item{
    width: 100%;
    margin-top: 20px;
    padding-bottom: 16px;
    border: 1px solid #E6E6E6;
}
.order_number{
	padding-left: 22px;
	width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
	font-size: 14px;
	color: #585858;
}
.mesg{
    width: 892px;
    float: left;
    margin-left: 22px;
}
.gda{
	width: 100%;
	height: 44px;
	border: 1px solid #E6E6E6;
}
.tal_nm{
	width: 85px;
	height: 100%;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	color: #121212;
	font-weight: bold;
	float: left;
}
.tal{
	width: 805px;
	float: left;
}
.tal_row{
	width: 100%;
	height: 44px;
}
.tal_a,.tal_b,.tal_c{
	height: 100%;
	font-size: 14px;
	color: #808080;
	float: left;
	line-height: 44px;
}
.tal_a{
	width: 257px;
}
.tal_b,.tal_c{
	text-align: center;
}

.tal_b{
	width: 242px;
}
.tal_c{
	width: 236px;
}
.tal_line{
	width: 1px;
	height: 20px;
	margin-top: 12px;
	background-color: #808080;
	float: left;
}
.gdb{
	width: 100%;
	border: 1px solid #E6E6E6;
	margin-top: 10px;
}
.btn_list{
	width: 100%;
	margin-top: 18px;
	height: 27px;
}
.btn_a,.btn_b{
	width: 73px;
	height: 100%;
	font-size: 12px;
	color: #fff;
	line-height: 27px;
	text-align: center;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.btn_a{
	margin-left: 295px;
	background-color: #b3b3b3;
}
.btn_b{
	margin-left: 30px;
	background-color: #118ec4;
}
.btn_list_fq{
	width: 100%;
	margin-top: 18px;
	height: 30px;
}
.btn_c,.btn_d{
	width: 130px;
	height: 100%;
	background-color: #118ec4;
	font-size: 12px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.btn_c{
	margin-left: 295px;
}
.btn_d{
	margin-left: 30px;
	
}
/*页码按钮*/
.page{
	height: 44px;
	float: right;
	margin-top: 39px;
	margin-bottom: 39px;
}
.page_num{
	width: 39px;
	height: 100%;
	text-align: center;
	background-color: #f6f6f6;
	line-height: 44px;
	text-align: center;
	font-size: 16px;
	color: #999999;
	border: 1px solid #E6E6E6;
	float: left;
}
.page_pre,.page_nxt{
	width: 88px;
	height:100%;
	line-height: 44px;
	text-align: center;
	border: 1px solid #E6E6E6;
	font-size: 16px;
	color: #999999;
	float: left;
}
.jl{
	font-size: 12px;
	color: #999;
	float: left;
	line-height: 44px;
	padding-left: 15px;
	padding-right: 15px;
}