html,body{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #f2f3f7;
}
.entire{
	width: 100%;
}

.my_fw{
	width: 100%;
    padding: 20px 18px;
}
 .tab_div{
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #DBDBDB;
}
.tab_div li{
	min-width: 70px;
	height: 100%;
	font-size: 20px;
	color: #333;
	float: left;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.tab_div li:not(:first-child){
	margin-left: 38px;
}
.span_txt{
	display: block;
	line-height:42px;
	text-align: center;
}
.span_line{
	height: 3px;
	width: 70px;
	background-color: #317ee7;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: none;
}
.tab_div .tab_li_current{
	color: #317ee7;
}
.tab_div .tab_li_current .span_line{
	display: block;
}
.ol_tit {
	margin-top: 20px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f2f3f7;
}
.ol_tit div{
	float: left;
	font-size: 12px;
	text-align: center;
    color: #313d53;
    font-weight: bold;
}
.cont_a{
	width: 16%;
}
.cont_a a{
	color: #317EE7;
	cursor: pointer;
}
.cont_b{
	width: 14%;
}
.cont_c{
	width: 14%;
}
.cont_d{
	width: 20%;
}
.cont_e{
	width: 20%;
}
.cont_f{
	width: 16%;
}
/*.cont_d a{
	padding: 2px 5px;
	border: 1px #317EE7 solid;
	color: #317EE7;
	margin: 24px auto;
	display: inline-block;
	width: 68px;
	height:  22px;
	line-height: 16px;
	text-align: center;
	margin-left: 10px;
}*/
.jc_btn {
    float: left;
    width: 80px;
    height: 28px;
    font-size: 14px;
    color: #2f85e6;
    line-height: 28px;
    text-align: center;
    margin: 16px auto 0 8px;
    cursor: pointer;
    border: 1px solid #2f85e6 !important;
}
.jc_btn_b {
    float: left;
    width: 80px;
    height: 40px;
    font-size: 14px;
    color: #2f85e6;
    line-height: 20px;
    text-align: center;
    margin: 10px auto 0 8px;
    cursor: pointer;
    border: 1px solid #2f85e6 !important;
}
/*.cont_e a{
	padding: 2px 5px;
	border: 1px #317EE7 solid;
	color: #317EE7;
	margin: 24px auto;
	display: inline-block;
	width: 68px;
	height:  22px;
	line-height: 16px;
	text-align: center;
	margin-left: 10px;
}*/
.logo_box{
	float: left;
	/* margin-left: 10px; */
	width: 68px;
	height: 22px;
	line-height:  16px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	/* border: 1px solid #c9c9c9; */
	position: relative;
	/*background-color: #dcac6c;*/

	background-color: #00c0ef;
}
.logo_box input{
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	position:  absolute;
	top: 0;
	left: 0;
}
.logo_box p{
	/* position: absolute; */
	/* top: 5px; */
	text-align:  center;
	line-height:  16px;
	color: #fff;
}
.txt_upload{
	float: left;
	margin-left: 10px;
}
.row {
	width: 100%;
	border: 1px solid #cccccc;
	border-top: none;
}
.row_cont{
	width: 100%;
	height: 60px;
	line-height: 60px;
    display: table;
    border-top: 1px solid #DBDBDB;
}
.row_cont .cont_a,.row_cont .cont_b,.row_cont .cont_c{
	height: 100%;
	float: left;
	padding: 0 12px;
	font-size: 12px;
	line-height: 60px;
	text-align: center;
}
.row_cont .cont_f{
	height: 100%;
	float: left;
	padding: 0 12px;
	font-size: 12px;
	text-align: center;
}
.row_cont .cont_d, .row_cont .cont_e{
	height: 100%;
	float: left;
	padding: 0;
	font-size: 12px;
	text-align: center;
}
.row_cont div:not(:last-child){
	border-right: 1px solid #DBDBDB;
}
.row_cont div p{
	line-height: 22px;
	color: #6e6e6e;
	word-wrap:break-word;
	word-break:normal;
}
.row_cont .cont_d p{
	text-align: center;
}
.row_cont .cont_d p:first-child{
	color: #ff7519;
}


