<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
	<meta content="telephone=no" name="format-detection" />
    <title>ThirdPart Support | Harlan</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" href="css/harlan_eye_app.css"/>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
    <script src="js/jquery-1.11.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
  	<script src="lib/common.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="entire" id="lava">
		<div class="third_sub">
			<div class="lct">
				<p class="lct_a">Inspection inquiry form 检验咨询表</p>
			</div>
		    <form method="post" id="imgform">
			<div class="check_block">
				<div class="check_a">
					<div class="check_til"><hr />客户信息<span class="til_sub">CLEINT INFORMATION</span></div>
					<div class="check_mesg">
						<div class="dptx">
							<div class="dptx_a">公司名称 Company Name<span>*</span></div>
							<input type="text" id="company_zname" name="thirdCheckCorp" />
						</div>
						<div class="dptx">
							<div class="dptx_a">公司地址 Company Address<span>*</span></div>
							<input type="text" id="company_eaddress" name="thirdCheckAddr" />
						</div>
						<div class="dptx">
							<div class="dptx_a">联系人 Contact Person<span>*</span></div>
							<input type="text" id="contact_name" name="thirdCheckContact" />							
						</div>
						<div class="dptx">
							<div class="dptx_a">职位 Position<span>*</span></div>
							<input type="text" id="contact_level" name="thirdCheckContactTel" />
						</div>
						<div class="dptx">
							<div class="dptx_a">电子邮箱 E-mail Address<span>*</span></div>
							<input type="text" id="email" name="thirdCheckEmail" />							
						</div>
						<div class="dptx">
							<div class="dptx_a">传真 Fax<span>*</span></div>
							<input type="text" id="fax" name="thirdCheckFax" />
						</div>
					</div>
				</div>
				<div class="check_b">
					<div class="check_til"><hr />发票和报告要求<span class="til_sub">INVOICE AND REPORT REQUIREMENT</span></div>
					<div class="fpxz">
						<div class="fpxz_a"><input type="radio" name="thirdCheckInvoice" id="sex1" value="1" /><label for="sex1">专票 Speciai VAT</label></div>
						<div class="fpxz_a"><input type="radio" name="thirdCheckInvoice" id="sex2" value="2" /><label for="sex2">普票 Non Speciai VAT</label></div>
						<div class="fpxz_a"><input type="radio" name="thirdCheckInvoice" id="sex3" value="3" checked /><label for="sex3">电子发票  Electronic invoice</label></div>
					</div>
					<div class="fptt">
						<div class="fptt_a">发票抬头 Invoice title:<span>*</span></div>
						<input type="text" id="fp_name" name="thirdCheckInvoiceDes" />
					</div>
					<div class="fpxz">
						<div class="fpxz_b" style="line-height: 1.5rem;"><input type="checkbox" name="reportType" id="sexs1" value="0" checked /><label for="sexs1">中文报告  Chinese</label></div>
						<div class="fpxz_b" style="margin-top: -.1rem; line-height: normal;"><input type="checkbox" name="reportType" id="sexs2" value="1" /><label for="sexs2">英文报告 English<br />（英文报告需加收￥200元/English report charged RMB 200）</label></div>
					</div>
				</div>
				<div class="check_c">
					<div class="check_til"><hr />发送方式<span class="til_sub">Dispatch via</span></div>
					<div class="fpxz">
						<div class="fpxz_a"><input type="radio" name="thirdCheckGiveWay" id="sexd1" value="1" /><label for="sexd1">快递  Via Express</label></div>
						<div class="fpxz_a"><input type="radio" name="thirdCheckGiveWay" id="sexd2" value="2" /><label for="sexd2">自取  Self Pick Up</label></div>
						<div class="fpxz_a"><input type="radio" name="thirdCheckGiveWay" id="sexd3" value="3" checked /><label for="sexd3">邮件  Via Email</label></div>
					</div>
					<div class="yjdz">
						<div class="yjdz_a">邮寄地址  delivery address</div>
						<input type="text" id="mail_address" name="thirdCheckMailaddr" />
					</div>
				</div>
				
				<div class="tjsq">
					<div class="btn" v-on:click="postFactory()">提交申请</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</body>
	<script src="plugins/jquery.pagination.js"></script>
	<script src="js/placehoder.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/goods_employed_third.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/top_bottom.js"></script>
	<script src="plugins/vue/vue.min.js"></script>
	<script src="lib/goods_employed_third_app.js"></script>
	<script type="text/javascript">
		
					
		$(function(){ 
		    //getCurrentUser();
		}); 
	    function getCurrentUser() {
	        $.ajax({
	            url: "/log/currentUser",
	            type: "post",
	            data: {},
	            dataType: "json",
	            success: function (r) {
	                if (r.data == null) {
	                    alert("please sign in again!");
	                    window.open("login_en.html", "_self");
	                    return;
	                }else {
						
	                }
	            }
	        })
	    }
	</script>
</html>