<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HarLan | Better Applying Chemistry</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
    <link rel="stylesheet" type="text/css" href="css/land2.css"/>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>
<body>
<div class="entire" id="rrapp">
    <div class="logo">
        <div class="logo_sub">
            <div class="logo_bg"><a href="index.html"></a></div>
            <div class="tel"><span class="sp1">服务热线：</span><span class="sp2">0086-0574-89210089</span><span class="sp3">(工作日9:00-18:00)</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="land_area">
        <div class="form_prt">
            <div class="land_area_sub">
                <p class="til">欢迎登录</p>
                <div class="u_name">
                    <label></label>
                    <input id="userName" type="text" placeholder="用户名/手机号/邮箱" v-model="user.user_phone"/>
                </div>
                <div class="u_pwd">
                    <label></label>
                    <input id="password" type="password" placeholder="请输入您的密码" v-model="user.user_password"/>
                </div>
                <p class="a_link"><a href="register_zh.html">免费注册</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a
                        href="forget_pwd1.html">忘记密码？</a></p>
                <div class="land_btn" id="login_btn" @click="login">立即登录</div>
                <p class="a_index"><a href="index.html">返回首页</a></p>

            </div>
        </div>

    </div>
    <div class="foot_bottom">
        <div class="foot_sub">
            <div class="download">
                <div class="load_txt">下载 :</div>
                <div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
                <div class="load_pic_b"><a href="hualang.apk"></a></div>
            </div>
            <div class="a_txt">
                <a href="new_explain14_c.html">联系我们</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain15_c.html">联系客服</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain16_c.html">合作招商</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain17_d.html">商家帮助</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain18_c.html">手机化浪</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain19_c.html">产品库</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain20_c.html">友情链接</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain21_c.html">隐私政策</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain22_c.html">法律声明</a>
            </div>
            <div class="foot_line"></div>
            <div class="a_txt_b">
                按字母顺序浏览 ：
                <a href="new_explain23_c.html">Onetouch</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain24_c.html">陈列室 </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain25_c.html">国家搜索 </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain26_c.html">供应商</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain27_c.html">批发商 </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain28_c.html">加盟 产品列表政策 - 知识产权保护</a>
            </div>
            <div class="a_txt_b">
                产品列表政策 - 知识产权保护 - 隐私政策 - 使用条款 - 执法合规指南
            </div>
            <div class="a_txt_b">
                @2017-2018 化浪（浙江）科技有限公司.版权所有.
            </div>
        </div>
    </div>
</div>
<script src="lib/base64.js"></script>
<script src="js/jQuery/jquery-1.11.2.js" type="text/javascript" charset="utf-8"></script>
<script src="js/placehoder.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="js/top_bottom.js"></script>
<script src="lib/login_zh.js"></script>
</body>
</html>