<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>HarLan | Better Applying Chemistry</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
	<link rel="stylesheet" href="css/pe_data_c_b_2.css" />
	<link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>
<body>
<!--顶部区域开始-->
<div class="header">
	<div class="header_sub">
		<ul class="header_fl">
			<li><a href="/">Harlan Mall</a></li>
			<li><a href="index.html">Home</a></li>
			<li><a href="guide_zh.html">中国供应商入口</a></li>
			<!--<li><a href="shop_cart_en.html">My shopping cart ></a></li>-->
			<li class="red_bg"><a href="goods_employed_self.html">Self-support</a></li>
			<li class="red_bg"><a href="goods_employed_third.html">ThirdPart-support</a></li>
			<li class="red_bg" style="color:#ff792d;"><a href="find_goods_list.html"><strong>Inquiry Platform</strong> </a></li>
		</ul>
		<ul class="header_fr">
			<li v-if="user!=null" @click="logout">Sign out</li>
			<li v-if="user!=null"><a href="pe_index_b.html">My harlan</a></li>
			<li v-if="user==null"><a href="login_en.html">Sign in</a> <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> <a href="register_en.html">Register</a>
			</li>
			<li><a href="new_explain8_e.html">Help Center</a></li>

		</ul>
		<div class="clear"></div>
	</div>
</div>
<!--顶部区域结束-->
<div class="entire" id="rrapp">
	<div class="first">
		<div class="first_sub">
			<div class="logo"></div>
			<ul class="mn_list">
				<li><a href="pe_index.html">Home Page</a></li>
				<li class="mn_active"><a href="pe_data_a.html">My information</a></li>

			</ul>

			<div class="clear"></div>
		</div>
	</div>
	<div class="second">
		<div class="second_sub">
			<div class="second_mn">
				<ul class="second_mn_list">
					<li><a href="pe_data_a.html">Basic Information</a></li>
					<li><a href="pe_data_b.html">Identity verification</a></li>
					<li class="current_bg"><a href="pe_data_c.html">Account security</a></li>
					<li><a href="pe_data_d.html">Address management</a></li>
				</ul>
				<div class="mn_bg"></div>
			</div>
			<div class="second_two">
				<div class="zhaq">
					<div class="zhaq_til">Changed cellphone number:</div>
					<div class="item_a">
						<div class="input_label">New cellphone number：</div>
						<div class="input_box">
							<input type="text" v-model="user_phone2" placeholder="Please enter your current phone number"/>
						</div>
						<div class="clear"></div>
					</div>
					<div class="item_a">
						<div class="input_label">Enter security code:</div>
						<div class="input_box_b">
							<input type="text" v-model="inputCode" placeholder="Please enter the verification code" />
						</div>
						<div class="code_btn" @click="sendMobileCode">Get verification code</div>
						<div class="clear"></div>
					</div>
					<div class="save_btn" @click="modMobileNumber">confirm</div>
					<div class="exp_sm">
						<p><span>*&nbsp;&nbsp;</span>If the number is not acceptable verification code, please contact customer service400-0000-000（9:00-18:00）</p>
						<p><span>*&nbsp;&nbsp;</span>Verification code can only be used once, please complete the verification within 5 minutes</p>
						<p><span>*&nbsp;&nbsp;</span>If you cannot receive the verification code, check if the message is intercepted and try to collect the verification code using the bound mailbox.</p>
					</div>
				</div>
			</div>
			<div class="second_three">
				<div class="second_three_til">
					Latest offer
				</div>
				<div class="bj_list">
					<div class="bj_item">
						<div class="bj_gd">4,4'-二正十二烷氧基氧化偶氮</div>
						<div class="bj_num">¥30000.00/吨</div>
						<div class="clear"></div>
					</div>
					<div class="bj_item">
						<div class="bj_gd">4,4'-二正十二烷氧基氧化偶氮4,4'-二正十二烷氧基氧化偶氮4,4'-二正十二烷氧基氧化偶氮4,4'-二正十二烷氧基氧化偶氮</div>
						<div class="bj_num">¥30000.00/吨</div>
						<div class="clear"></div>
					</div>
					<div class="bj_item">
						<div class="bj_gd">4,4'-二正十二烷氧基氧化偶氮</div>
						<div class="bj_num">¥30000.00/吨</div>
						<div class="clear"></div>
					</div>
					<div class="bj_item">
						<div class="bj_gd">4,4'-二正十二烷氧基氧化偶氮4,4'-二正十二烷氧基氧化偶氮4,4'-二正十二烷氧基氧化偶氮4,4'-二正十二烷氧基氧化偶氮</div>
						<div class="bj_num">¥30000.00/吨</div>
						<div class="clear"></div>
					</div>
					<div class="bj_item">
						<div class="bj_gd">4,4'-二正十二烷氧基氧化偶氮</div>
						<div class="bj_num">¥30000.00/吨</div>
						<div class="clear"></div>
					</div>
					<div class="bj_item">
						<div class="bj_gd">4,4'-二正十二烷氧基氧化偶氮</div>
						<div class="bj_num">¥30000.00/吨</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="foot_bottom">
	<div class="foot_sub">
		<div class="download">
			<div class="load_txt">download :</div>
			<div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
			<div class="load_pic_b"><a href="hualang.apk"></a></div>
		</div>
		<div class="a_txt">
			<a href="new_explain1_e.html">Contact Us</a>
			<span>&nbsp;|&nbsp;</span>
			<!--<a href="new_file1_e.html">Contact Customer Service</a>
            <span>&nbsp;|&nbsp;</span>-->
			<a href="new_explain2_e.html">Business Cooperation</a>
			<span>&nbsp;|&nbsp;</span>
			<!--<a href="new_explain8_e.html">Merchant help</a>
            <span>&nbsp;|&nbsp;</span>-->
			<!-- <a href="new_explain3_e.html">Mobile Har Lan</a>
			<span>&nbsp;|&nbsp;</span> -->
			<a href="new_explain4_e.html">Product Library</a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain5_e.html">Friendly Link</a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain6_e.html">Privacy Policy</a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain7_e.html">Legal Statement</a>
		</div>
		<div class="foot_line"></div>
		<!-- <div class="a_txt_b">
			Browse Alphabetically:
			<a href="new_explain8_e.html">Onetouch</a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain9_e.html">Showroom </a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain10_e.html">Country Search </a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain11_e.html">Suppliers</a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain12_e.html">Wholesaler </a>
			<span>&nbsp;|&nbsp;</span>
			<a href="new_explain13_e.html">Affiliate</a>
		</div>
		<div class="a_txt_b">
			Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - Law
			Enforcement
			Compliance Guide
		</div> -->
		<div class="a_txt_b">
			copyright 2017-2018 harlanchina.com 浙ICP备17059278号-1
		</div>
	</div>
</div>
</div>

<script src="../js/jQuery/jquery-1.11.2.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/top_bottom.js"></script>
<script src="../js/placehoder.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/pe_data_c_b_2.js" type="text/javascript" charset="utf-8"></script>
<script src="../plugins/vue/vue.min.js"></script>
<script src="../lib/pe_data_c_b_2.js"></script>
</body>
</html>