<!DOCTYPE html>
<html lang="zh">
	<head>
	    <meta charset="UTF-8"/>
	    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	    <title>HarLan | Better Applying Chemistry</title>
	    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
	    <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
    	<link rel="stylesheet" type="text/css" href="css/pe_common.css"/>
	    <link rel="stylesheet" type="text/css" href="css/pe_index_inquiry_zh.css"/>
	    <link rel="stylesheet" type="text/css" href="css/pagination.css">
	    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
	</head>
   <style>
  .tab_div{
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #DBDBDB;
}
.tab_div li{
	min-width: 70px;
	height: 100%;
	font-size: 20px;
	color: #333;
	float: left;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.tab_div li:not(:first-child){
	margin-left: 38px;
}
.span_txt{
	display: block;
	line-height:42px;
	text-align: center;
}
.span_line{
	height: 3px;
	width: 70px;
	background-color: #317ee7;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: none;
}
.tab_div .tab_li_current{
	color: #317ee7;
}
.tab_div .tab_li_current .span_line{
	display: block;
}
  </style>
	<body>
		<div class="entire" id="rrapp">
		    <!--顶部区域开始-->
			<div class="header">
				<div class="header_sub">
					<ul class="header_fl">
						<li><a href="index.html">首页</a></li>
						<li><a href="new_explain16_c.html">合作与服务</a></li>
						<li><a href="goods_employed_self.html">自营商城</a></li>
						<li><a href="goods_employed_third.html">第三方商城</a></li>
						<li style="color:#ff792d;"><a href="find_goods_list.html">系统询盘 </a></li>
					</ul>
					<ul class="header_fr">
						<!--登录之后显示-->
						<li v-if="user!=null" class="out_area"><a href="pbm_order_seller1.html">我的化浪</a> <a @click="logout">退出</a></li>
						<!--登录之前显示-->
						<li v-if="user==null" class="no_land" style="display:inline-block;"><a href="login_en.html">登录</a> | <a href="register_en.html">注册</a></li>
						<li><a href="new_explain17_c.html">帮助中心</a></li>
						<!--<li class="lang_li">
							<span>Language</span>
							<div class="span_sj"></div>
							<div class="lang_mn" style="display: none;">
								<div class="lang_item">English</div>
								<div class="lang_item">Español</div>
								<div class="lang_item">한국어 </div>
								<div class="lang_item">日本語</div>
								<div class="lang_item">中文</div>
							</div>
						</li>-->
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		    <!------------------顶部区域结束-------------->
		    <div class="pe_one_top">
		        <div class="first_sub">
		            <div class="logo_zh">
		            	<a href="index.html"></a>
		            </div>
		            <ul class="mn_list">
		                <li class="mn_active"><a href="pbm_order_seller1.html">首页</a><span class="line_slide"></span></li>
		                <!--我的信息区分是个人供货商还是公司供货商-->
		                <li><a href="sale_firm_info1.html">我的信息</a><span class="line_slide"></span></li>
		                <li style="display: none;"><a href="sale_person_info1.html">我的信息</a><span class="line_slide"></span></li>
		            </ul>
		            <div class="pe_top_btn">
		           		<a href="f_free_find.html" class="inquire_btn">免费找货</a>
		            </div>
		            <div class="clear"></div>
		        </div>
		    </div>
		    <div class="pe_con">
		        <div class="pe_con_sub">
		            <div class="pe_con_mn">
		                <ul class="pe_con_mn_list">
		                	<li><a href="pbm_order_seller1.html">我的订单</a></li>
		                    <li><a href="pe_index_f_zh.html">我的商品</a></li>
		                    <li><a href="pe_index_vip.html">我的会员</a></li>
		                    <!--<li><a href="pe_index_supply_zh.html?type=01">申请国际市场开拓</a></li>
		                    <li><a href="pe_index_supply_zh.html?type=02">申请知识产权分析</a></li>-->
		                    <li><a href="pe_index_supply_zh.html?type=ser3">申请供应链金融</a></li>
		                    <!--<li><a href="pe_index_supply_zh.html?type=04">申请交易补贴</a></li>
		                    <li><a href="pe_index_supply_zh.html?type=05">申请报关商检</a></li>-->
		                    <li><a href="pe_data_query_zh.html?type=data">采购数据查询</a></li>
							<li><a href="worldwide_inquiries_zh.html?type=inquiry">全球海量询盘查询</a></li>
		                    <li><a href="pe_data_query_zh.html?type=credit">采购商征信查询</a></li>
		                    <li><a href="my_free_search_zh.html">系统询盘</a></li>
		                    <li class="current_bg"><a href="pe_index_inquiry_zh.html">供应商询盘</a></li>
		                    <!--<li><a href="pe_index_inquiry2_zh.html">已处理询盘</a></li>-->
		                </ul>
		                <div class="mn_bg"></div>
		            </div>
		            <div class="pe_con_right">
		            	<div class="my_xp">
                          <ul class="tab_div">
                            <li class="tab_li_current">
								<span class="span_txt">待处理</span>
                              <div class="span_line"></div>
                            </li> 
                            <li>
								<span class="span_txt">已处理</span>
                              <div class="span_line"></div>
                            </li>
                          </ul>
			                <div class="ol_tit">
			                    <div class="cont_a">公司信息</div>
			                    <div class="cont_b">联系方式</div>
			                    <div class="cont_c">备注</div>
			                    <div class="cont_d">操作</div>
			                </div>
			                <div class="row_list" v-for="enquiry in enquiries">
								<div class="row">
				                    <div class="row_tit">
				                        <span>询盘商品: <a :href="'g_goods_detail.html?goods_id='+enquiry.goods_id">商品链接</a></span>
				                        <span class="s_ri">{{enquiry.create_time}}</span>
				                    </div>
				                    <div class="row_cont">
				                        <div class="cont_a">
				                            <p>名称：{{enquiry.com_name}}</p>
				                            <p>地址：{{enquiry.com_addr}}</p>
				                        </div>
				                        <div class="cont_b">
				                            <p>联系人：<em>{{enquiry.com_contacts}}</em></p>
				                            <p>移动电话：<em>{{enquiry.com_number}}</em></p>
				                            <p>邮箱：<em>{{enquiry.com_mailbox}}</em></p>
				                        </div>
				                        <div class="cont_c">
				                            <p>备注:{{enquiry.postscript}}</p>
				                        </div>
										<div class="cont_d" v-if="enquiry.tar_status=='1'">
												<div>已完成</div>
										</div>
				                        <div class="cont_d" v-else>
				                            <a href="#" @click="processInquiry(enquiry.en_id)">
				                                <div>处理询盘</div>
				                            </a>
				                        </div>
				                    </div>
				                </div>
							</div>
							<div class="pagination" id="page"></div>
			            </div>
		            </div>
		            <div class="clear"></div>
	            </div>
		    </div>
			<div class="foot_bottom">
				<div class="foot_sub">
					<div class="download">
						<div class="load_txt">下载 :</div>
						<div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
						<div class="load_pic_b"><a href="hualang.apk"></a></div>
					</div>
					<div class="a_txt">
						<a href="new_explain14_c.html">联系我们</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain15_c.html">联系客服</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain16_c.html">合作招商</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain17_c.html">商家帮助</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain18_c.html">手机化浪</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain19_c.html">产品库</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain20_c.html">友情链接</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain21_c.html">隐私政策</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain22_c.html">法律声明</a>
					</div>
					<div class="foot_line"></div>
					<div class="a_txt_b">
						按字母顺序浏览 ：
						<a href="new_explain23_c.html">Onetouch</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain24_c.html">陈列室 </a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain25_c.html">国家搜索 </a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain26_c.html">供应商</a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain27_c.html">批发商 </a>
						<span>&nbsp;|&nbsp;</span>
						<a href="new_explain28_c.html">加盟 产品列表政策 - 知识产权保护</a>
					</div>
					<div class="a_txt_b">
						产品列表政策 - 知识产权保护 - 隐私政策 - 使用条款 - 执法合规指南
					</div>
					<div class="a_txt_b">
						@2017-2018 化浪（浙江）科技有限公司.版权所有.
					</div>
				</div>
			</div>
		</div>
	<script src="js/jQuery/jquery-1.11.2.js" type="text/javascript" charset="utf-8"></script>
      
	<script src="js/top_bottom.js" type="text/javascript" charset="utf-8"></script>
<!--
    <script src="js/pe_index_inquiry_zh.js" type="text/javascript" charset="utf-8"></script>
-->
	<script src="plugins/jquery.pagination.js"></script>
	<script src="plugins/vue/vue.min.js"></script>
	<script src="lib/pe_index_inquiry_zh.js"></script>
	</body>
	<script>
        //tab页一级菜单
        $(".tab_div").on("click","li",function(){
            $(this).addClass("tab_li_current").siblings().removeClass("tab_li_current");
            /*alert($(".tab_div li").index(this))*/
            if($(".tab_div li").index(this)==1){
				vm.state="1"
                vm.preloadEnquiriesToMe();
			}
			if($(".tab_div li").index(this)==0){
                vm.state="-1"
                vm.preloadEnquiriesToMe();
			}
        })
	</script>
</html>