<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HarLan | Better Applying Chemistry</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/pe_index_apply_zh.css"/>
    <link rel="stylesheet" href="css/top_bottom.css"/>
    <link rel="stylesheet" type="text/css" href="css/pagination.css">
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>
<body>
<div class="entire" id="rrapp">
    <!--顶部区域开始-->
    <div class="header">
        <div class="header_sub">
            <ul class="header_fl">
                <li><a href="index.html">首页</a></li>
                <li><a href="new_explain16_c.html">合作与服务</a></li>
                <li><a href="shop_cart_en.html">我的购物车 </a></li>
            </ul>
            <ul class="header_fr">
                <li><a href="login_zh.html">退出</a></li>
                <li><a href="pe_index_zh.html">我的化浪</a></li>
                <li><a href="new_explain17_c.html">帮助中心</a></li>

            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!------------------顶部区域结束-------------->
    <div class="first">
        <div class="first_sub">
            <a href="index.html">
                <div class="logo"></div>
            </a>
            <ul class="mn_list">
                <li class="mn_active"><a href="pe_index_zh.html">首页</a></li>
                <li><a href="pe_data_a_zh.html">我的资料</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="second">
        <div class="second_sub">
            <div class="second_mn">
                <ul class="second_mn_list">
                    <li><a href="pe_index_b_zh.html">我的订单</a></li>
                    <li><a href="pe_index_f_zh.html">我的商品</a></li>
                    <li><a href="pe_index_vip.html"> 我的会员</a></li>
                    <li><a href="pe_index_supply_zh.html?type=market">申请国际市场开拓</a></li>
                    <li><a href="pe_index_supply_zh.html?type=knowledge">申请知识产权分析</a></li>
                    <li><a href="pe_index_supply_zh.html?type=loanChain">申请供应链金融 </a></li>
                    <li><a href="pe_index_supply_zh.html?type=trade">申请交易补贴 </a></li>
                    <li><a href="pe_index_supply_zh.html?type=customs">申请报关商检 </a></li>
                    <li><a href="pe_data_query_zh.html?type=data">采购数据查询 </a></li>
                    <li><a href="pe_data_query_zh.html?type=credit">采购商征信查询</a></li>
                    <li><a href="my_free_search_zh.html?type=">系统询盘</a></li>
                    <li><a href="pe_index_inquiry_x_zh.html">供应商询盘</a></li>
                    <li><a href="pe_index_inquiry_zh.html">待处理询盘</a></li>
                    <li><a href="pe_index_inquiry2_zh.html">已处理询盘</a></li>
                </ul>
                <div class="mn_bg"></div>
            </div>
            <div class="second_two">

                <div class="second_two_top">
                    我申请的服务
                </div>

                <ol class="ol_tit">
                    <li style="width: 300px;">公司信息</li>
                    <li style="width: 218px;">联系方式</li>
                    <li style="width: 190px;">备注</li>
                    <li style="width: 148px;">申请时间</li>
                </ol>
                <div class="row" v-for="enquiry in applications">
                    <div class="row_tit">
                        <span>Inquiries:
                            <a :href="'g_goods_detail.html?goods_id='+enquiry.goods_id">Link Of Goods</a>
                        </span>
                        <span class="s_ri">{{enquiry.create_time}}</span></div>
                    <div class="row_cont">
                        <div class="cont_a">
                            <p>Name：{{enquiry.com_name}}</p>
                            <p>address：{{enquiry.com_addr}}</p>
                        </div>
                        <div class="cont_b">
                            <p>Fixed line：<em>{{enquiry.com_contacts}}</em></p>
                            <p>Mobile phone：<em>{{enquiry.com_number}}</em></p>
                            <p>Email：<em>{{enquiry.com_mailbox}}</em></p>
                        </div>
                        <div class="cont_c">
                            <p>Remarks:{{enquiry.postscript}}</p>
                        </div>
                        <div class="cont_d">
                            <a href="#" @click="processInquiry(enquiry.en_id)">
                                <div>处理询盘</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="foot_bottom">
    <div class="foot_sub">
        <div class="download">
            <div class="load_txt">下载 :</div>
            <div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
            <div class="load_pic_b"><a href="hualang.apk"></a></div>
        </div>
        <div class="a_txt">
            <a href="new_explain14_c.html">联系我们</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_explain15_c.html">联系客服</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_explain16_c.html">合作商家</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_explain17_c.html">企业帮助</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_explain18_c.html">手机厂商浪潮</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_file5.html">产品库</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_explain20_c.html">链接</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_explain21_c.html">隐私政策</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_explain22_c.html">法律解释</a>
        </div>
        <div class="foot_line"></div>
        <div class="a_txt_b">
            按字母顺序浏览:
            <a href="new_file9.html">Onetouch</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_file10.html">陈列室 </a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_file11.html">国家搜索 </a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_file12.html">供应商</a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_file13.html">批发商 </a>
            <span>&nbsp;|&nbsp;</span>
            <a href="new_file14.html">加盟</a>
        </div>
        <div class="a_txt_b">
            产品列表政策 - 知识产权保护 - 隐私政策 - 使用条款 - 执法合规指南
        </div>
        <div class="a_txt_b">
            copyright 2017-2018 harlanchina.com 浙ICP备17059278号-1
        </div>
    </div>
</div>
</div>
<script src="js/jQuery/jquery-1.11.2.js" type="text/javascript" charset="utf-8"></script>
<script src="js/top_bottom.js" type="text/javascript" charset="utf-8"></script>
<script src="lib/common.js"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="lib/pe_index.apply_zh.js"></script>
</body>
</html>