<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HarLan | Better Applying Chemistry</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/swiper/swiper-3.4.2.min.css"/>
     <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
	<link rel="stylesheet" href="css/tianjia/TJdibu1.css">
	<link rel="stylesheet" type="text/css" href="css/pe_supply.css"/>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
    <style type="text/css">
    	.con_mid {
		    overflow: hidden;
		    width: 880px;
		    margin: auto;
		    padding-top: 20px;
		    padding-bottom: 110px;
		}
		.crumb{
			width: 1000px;
			height: 24px;
			line-height: 24px;
			margin: 10px auto 0 auto;
			font-size: 14px;
			color: #323232;
		}
		.a_active{
			color: #317ee7;
		}
    </style>
</head>

<body>
    <div class="entire" id="rrapp">
    	 <!--顶部区域开始-->
		<div class="header">
			<div class="header_sub">
				<ul class="header_fl">
					<li><a href="index.html">首页</a></li>
					<li><a href="new_explain16_c.html">合作与服务</a></li>
					<li><a href="goods_employed_self.html">自营商城</a></li>
					<li><a href="goods_employed_third.html">第三方商城</a></li>
					<li style="color:#FFCC66;"><a href="find_goods_list.html">系统询盘 </a></li>
				</ul>
				<ul class="header_fr">
					<!--登录之后显示-->
					<li v-if="user!=null" class="out_area"><a href="pbm_order_seller1.html">我的化浪</a> <a @click="logout">退出</a></li>
					<!--登录之前显示-->
					<li v-if="user==null" class="no_land" style="display:inline-block;"><a href="login_zh.html">登录</a> | <a href="register_zh.html">注册</a></li>
					<li><a href="new_explain17_c.html">帮助中心</a></li>
					<!--<li class="lang_li">
                        <span>Language</span>
                        <div class="span_sj"></div>
                        <div class="lang_mn" style="display: none;">
                            <div class="lang_item">English</div>
                            <div class="lang_item">Español</div>
                            <div class="lang_item">한국어 </div>
                            <div class="lang_item">日本語</div>
                            <div class="lang_item">中文</div>
                        </div>
                    </li>-->
				</ul>
				<div class="clear"></div>
			</div>
		</div>
    	<!------------------顶部区域结束-------------->
        <!--搜索区域开始-->
        <div class="search_area">
            <div class="search_area_sub">
                <div class="search_logo"><a href="index.html"></a></div>
                <div class="search_btn_list">
                	<!-- <a href="shop_cart_en.html" class="cart_btn" v-show="carShow">My cart <span>{{gross}}</span></a> -->
                </div>
				<div class="search_div">
					<div class="search_fl">
						<div class="search_whitch">供应商</div>
						<ul class="search_ul" style="display: none;">
							<li @click="searchType='product'">产品</li>
							<li @click="searchType='supplier'">供应商</li>
							<li @click="searchType='cas'">CAS</li>
						</ul>
						<div class="search_input_div">
							<input type="text" v-model="searchParam"/>
						</div>
					</div>
					<div class="search_btn" @click="redirectSel">搜索</div>
				</div>
            </div>
        </div>
        <!--------------搜索区域结束-------------->
		<!--<div class="banner_box">
			<img src="imgs/tianjiaimg/lansebanner.jpg">
		</div>-->
		<div class="crumb">location：个人中心&gt;<a href="#" onClick="javaScript:history.go(-1)">供应链金融</a>&gt;<a class="a_active">编辑</a></div>
		<!--neirong-->
		<div class="con_mid">
			<div class="opacity2">
		    	<!--<div class="opacity_title2" style="position: relative;">
					<span v-if="order.chain_state=='0'">待审核</span>
					<span v-if="order.chain_state=='1'">通过</span>
					<span v-if="order.chain_state=='-1'">驳回</span>
					&lt;!&ndash;<span>
						<input class="original-upload" style="opacity: 0; width: 60px; height: 35px; position: absolute; left: 600px; top: 10px; z-index: 10;" type="file" name="file"/>
		            	<a href="javascript:;" class="fake-uploadbtn" style="width: 60px; left:600px; top:10px">上传</a>
					</span>&ndash;&gt;
				</div>-->
		    	<div class="opacity_title3">
		    		<div class="opacity_title3_1">联系</div>
		    		<div class="opacity_title3_2"><hr style= "border:1px dashed #d2d2d2" /></div>
		    	</div>
		    	<div class="opacity_box">
		    		<ul class="opacity_cont2">
		    			<li>
							<span>联系人</span>
							<input type="text" unselectable="on" v-model="supply.contacts_name" />
						</li>
		    			<li>
							<span>联系人手机</span>
							<input type="text" unselectable="on" v-model="supply.contacts_phone" />
						</li>
		    			<li>
							<span>身份证号</span>
							<input type="text" unselectable="on" v-model="supply.id_number" />
						</li>
		    			<li>
							<span>户籍</span>
							<input type="text" unselectable="on" v-model="supply.household_register" />
						</li>
		    			<li>
							<span>现住地</span>
							<input type="text" unselectable="on" v-model="supply.current_residence" />
						</li>
		    		</ul>
		    	</div>
		    	<div class="opacity_title3">
		    		<div class="opacity_title3_1">公司</div>
		    		<div class="opacity_title3_2"><hr style= "border:1px dashed #d2d2d2" /></div>
		    	</div>
		    	<div class="opacity_box">
		    		<ul class="opacity_cont2">
		    			<li>
							<span>公司名称</span>
							<input type="text" unselectable="on" v-model="supply.company_name" />
						</li>
		    			<li>
							<span>公司地址</span>
							<input type="text" unselectable="on" v-model="supply.company_site" />
						</li>
		    			<li>
							<span>公司座机号</span>
							<input type="text" unselectable="on" v-model="supply.company_phone" />
						</li>
		    			<li style="position: relative;">
		    				<!--<span>审计报告</span>
		    				<input class="original-upload" style="opacity: 0;" name="file" readonly  unselectable="on"/>
				            <a :href="['/'+chain.audit_reports]" class="fake-uploadbtn" download="file">Download</a>-->
							<span>审计报告</span>
							<input class="original-upload" style="opacity: 0; width: 440px;" type="file" name="file" id="audit_reports" @change="uploadImg($event)"/>
							<a href="javascript:;" class="fake-uploadbtn">上传文件</a>
		    			</li>
		    			<li style="position: relative;">
		    				<!--<span>财务报表</span>
		    				<input class="original-upload" style="opacity: 0;" name="file" readonly  unselectable="on"/>
				            <a :href="['/'+chain.financial_statement]" class="fake-uploadbtn" download="file">Download</a>-->
							<span>财务报表</span>
							<input class="original-upload" style="opacity: 0; width: 440px;" type="file" name="file" id="financial_statement" @change="uploadImg($event)"/>
							<a href="javascript:;" class="fake-uploadbtn">上传文件</a>
		    			<li>
							<span>申请额度</span>
							<input type="text" unselectable="on" v-model="supply.apply_amount" />
						</li>
						<a class="opacity_submit" @click="editSupply">提交</a>
		    		</ul>
		    	</div>
		    </div>
		</div>
		<!--底部内容开始-->
		<div class="foot_bottom">
			<div class="foot_sub">
				<div class="download">
					<div class="load_txt">下载 :</div>
					<div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
					<div class="load_pic_b"><a href="hualang.apk"></a></div>
				</div>
				<div class="a_txt">
					<a href="new_explain14_c.html">联系我们</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain15_c.html">联系客服</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain16_c.html">合作招商</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain17_c.html">商家帮助</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain18_c.html">手机化浪</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain19_c.html">产品库</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain20_c.html">友情链接</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain21_c.html">隐私政策</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain22_c.html">法律声明</a>
				</div>
				<div class="foot_line"></div>
				<div class="a_txt_b">
					按字母顺序浏览 ：
					<a href="new_explain23_c.html">Onetouch</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain24_c.html">陈列室 </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain25_c.html">国家搜索 </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain26_c.html">供应商</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain27_c.html">批发商 </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain28_c.html">加盟 产品列表政策 - 知识产权保护</a>
				</div>
				<div class="a_txt_b">
					产品列表政策 - 知识产权保护 - 隐私政策 - 使用条款 - 执法合规指南
				</div>
				<div class="a_txt_b">
					@2017-2018 化浪（浙江）科技有限公司.版权所有.
				</div>
			</div>
		</div>
		<!--底部内容结束-->
    </div>
</body>
<script type="text/javascript" src="js/jQuery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="js/top_bottom.js"></script>
<!--<script src="../static/lib/common.js" type="text/javascript" charset="utf-8"></script>-->
<script src="lib/base64.js"></script>
<script src="lib/common.js"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="plugins/ajaxfileupload.js"></script>
<script src="lib/pe_supply_c.js"></script>
</html>