<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Register | Harlan</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
    <link rel="stylesheet" type="text/css" href="css/register.css"/>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>
<body>
<div class="entire" id="rrapp">
    <div class="logo">
        <div class="logo_sub">
            <div class="logo_bg"><a href="index.html"></a></div>
            <div class="page_tip"><a>Global Fine Chemical Leader.</a></div>
            <div class="tel"><span class="sp1">Hotline：</span><span class="sp2">400-1234-111</span><span class="sp3">(Workday 9:00-18:00)</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <form method="post" class="page_con">
        <div class="land_area">
            <div class="land_area_sub">
                <p class="til">Mobile registration</p>
                <div class="con_area" style="display: block;">
                    <div class="u_name">
                        <input type="text" v-model="user.user_phone" autocomplete="new-password"
                               placeholder="Please enter your mobile number"/>
                    </div>
                    <!--<div class="error_tip">错误提示</div>-->
                    <div class="u_pwd">
                        <div class="pwd_box">
                            <input type="text" v-model="user.user_code" autocomplete="new-password"
                                   placeholder="Verification code"/>
                        </div>
                        <div class="code_pic" @click="sendMobileCode">Send verification code</div>
                    </div>
                    <div class="error_tip"></div>
                    <div class="u_name">
                        <input type="password" v-model="user.user_password" type="password" autocomplete="off"
                               placeholder="Enter your password,6-20 characters or Numbers"/>
                    </div>
                    <div class="error_tip"></div>
                    <div class="select_radio">
                        <div class="radio_div fl check_radio">
                            <div class="radio_sub">
                                <label><input type="radio" value="buyer_en" v-model="user.biz_type"
                                              checked="checked"/><span></span></label>
                            </div>
                            <span>Purchase goods</span>
                        </div>
                        <div class="radio_div fr">
                            <div class="radio_sub">
                                <label><input type="radio" value="seller_en"
                                              v-model="user.biz_type"/><span></span></label>
                            </div>
                            <span>Store supply</span>
                        </div>
                    </div>
                    
          	<!--    协议选择-->
          		<div class="select_radio" style="margin-bottom: 10px;">    
          			<div class="xieyi">
                    	<div class="radio_sub">
                            <label @click="protocol"><input type="checkbox"/><span></span></label>
                        </div>
                        <span>Read and agree to the </span>
                    </div>
                    <div class="xieyi_y"><a href="xieyi_en.html">Merchant Entry Agreement</a></div>
                </div>
            <!--    协议选择-->
            
                    <div class="land_btn" v-show="btnModal=='register'" @click="registerBuyer">Register</div>
                    <div class="land_btn" v-show="btnModal=='nextStep'" @click="registerSeller">next step</div>
                    <p class="p_link"><span class="fl"><a href="index.html">back index</a></span><span class="fr"> <a
                            href="index.html">Sign In</a></span></p>
                </div>
            </div>
        </div>
    </form>
    <div class="foot_bottom">
        <div class="foot_sub">
            <div class="download">
                <div class="load_txt">download :</div>
                <div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
                <div class="load_pic_b"><a href="hualang.apk"></a></div>
            </div>
            <div class="a_txt">
                <a href="new_explain1_e.html">Contact Us</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_file1_e.html">Contact Customer Service</a>
                <span>&nbsp;|&nbsp;</span>-->
                <a href="new_explain2_e.html">Business Cooperation</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_explain8_e.html">Merchant help</a>
                <span>&nbsp;|&nbsp;</span>-->
                <!-- <a href="new_explain3_e.html">Mobile Har Lan</a>
                <span>&nbsp;|&nbsp;</span> -->
                <a href="new_explain4_e.html">Product Library</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain5_e.html">Friendly Link</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain6_e.html">Privacy Policy</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain7_e.html">Legal Statement</a>
            </div>
            <div class="foot_line"></div>
            <!-- <div class="a_txt_b">
                Browse Alphabetically:
                <a href="new_explain8_e.html">Onetouch</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain9_e.html">Showroom </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain10_e.html">Country Search </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain11_e.html">Suppliers</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain12_e.html">Wholesaler </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain13_e.html">Affiliate</a>
            </div>
            <div class="a_txt_b">
                Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - Law
                Enforcement
                Compliance Guide
            </div> -->
            <div class="a_txt_b">
                copyright 2017-2018 harlanchina.com 浙ICP备17059278号-1
            </div>
        </div>
    </div>
</div>
<script src="js/jQuery/jquery-1.11.2.js" type="text/javascript" charset="utf-8"></script>
<script src="js/placehoder.js" type="text/javascript" charset="utf-8"></script>
<script src="js/register.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="lib/register2.js"></script>
</body>
</html>