<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HarLan | Better Applying Chemistry</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
    <link rel="stylesheet" type="text/css" href="css/pe_common.css"/>
    <link rel="stylesheet" href="css/sale_firm_tel.css"/>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>
<body>

<div class="entire" id="lava">
    <!--顶部区域开始-->
    <div class="header">
        <div class="header_sub">
            <ul class="header_fl">
                <li><a href="/">Harlan Mall</a></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="guide_zh.html">中国供应商入口</a></li>
                <!--<li><a href="new_explain16_c.html">Cooperation and service</a></li>-->
                <li><a href="goods_employed_self.html">Self-support</a></li>
                <li><a href="goods_employed_third.html">ThirdPart-support</a></li>
				<li style="color:#ff792d;"><a href="find_goods_list.html"><strong>Inquiry Platform</strong></a></li>
            </ul>
            <ul class="header_fr">
                <!--登录之后显示-->
                <li v-if="user!=null" class="out_area"><a @click="lnkPersonalCenter">My harlan</a> <a
                        @click="logout">Sign out</a></li>
                <!--登录之前显示-->
                <li v-if="user==null" class="no_land">
                    <a href="login_en.html">Sign in</a> | <a href="register_en.html">Register</a>
                </li>
                <li><a href="new_explain17_c.html">Help Center</a></li>
                <!--<li class="lang_li">
                    <span>Language</span>
                    <div class="span_sj"></div>
                    <div id="lang_mn" class="lang_mn" style="display: none;">
                        <div class="lang_item"><a href="#">简体中文</a></div>
                        <div class="lang_item"><a href="#">繁體中文</a></div>
                        <div class="lang_item"><a href="#">English</a></div>
                        <div class="lang_item"><a href="#">한국어 </a></div>
                        <div class="lang_item"><a href="#">日本語</a></div>
                    </div>
                </li>-->
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!------------------顶部区域结束-------------->
    <div class="pe_one_top">
        <div class="first_sub">
            <div class="logo">
            	<a href="index.html"></a>
            </div>
            <ul class="mn_list">
                <li><a href="pe_index_b.html">Home Page</a><span class="line_slide"></span></li>
                <li class="mn_active"><a href="sale_firm_info.html">MY INFORMATION</a><span class="line_slide"></span>
                </li>
            </ul>
            <div class="pe_top_btn">
               <!--  <a href="shop_cart_en.html" class="cart_btn" v-show="carShow">My cart <span>{{gross}}</span></a> -->
               
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="pe_con">
        <div class="pe_con_sub">
            <div class="pe_con_mn">
                <ul class="pe_con_mn_list">
                    <li><a href="sale_firm_info.html">Essential information</a></li>
                    <li class="current_bg"><a href="sale_firm_tel.html">Cell-phone number</a></li>
                    <li><a @click="lnkShopInfoUtils">Store information</a></li>
                    <li><a href="sale_firm_pic.html">Company photo</a></li>
                </ul>
                <div class="mn_bg"></div>
            </div>
            <div class="pe_con_right">
                <div class="my_info">
                    <div class="pe_til">Change the phone number</div>
                    <div class="info_area">
                        <div class="info_item">
                            <div class="info_label">Current mobile phone:</div>
                            <div class="info_txt">
                                {{user.user_phone}}
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="info_item">
                            <div class="info_label">Verification Code:</div>
                            <div class="code_area">
                                <div class="code_input"><input v-model="cpvc" type="text"/></div>
                                <div class="code_btn" @click="sendOldCode">identifying code</div>
                            </div>
                            <div class="clear"></div>
                            <p class="error_tip" v-if="cpvc==''">Please enter the verification code</p>
                        </div>
                        <div class="btn_area">
                            <div class="btn" @click="verifyCode">Next step</div>
                            <div class="qx">cancel</div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="txt_ex">
                    <p><span>* </span>if the number is unable to receive the verification code, please contact customer
                        service </p>
                    <div class="tel_num">
                        400-6000-000(9:00-18:00)
                    </div>
                    <p><span>* </span>the verification code can only be used once, please complete the verification
                        within 5 minutes.</p>
                    <p><span>* </span>f you can not receive the verification code, check whether the message is
                        intercepted, try to use the binding mailbox to collect the verification code.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="foot_bottom">
        <div class="foot_sub">
            <div class="download">
                <div class="load_txt">download :</div>
                <div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
                <div class="load_pic_b"><a href="hualang.apk"></a></div>
            </div>
            <div class="a_txt">
                <a href="new_explain1_e.html">Contact Us</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_file1_e.html">Contact Customer Service</a>
                <span>&nbsp;|&nbsp;</span>-->
                <a href="new_explain2_e.html">Business Cooperation</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_explain8_e.html">Merchant help</a>
                <span>&nbsp;|&nbsp;</span>-->
                <a href="new_explain3_e.html">Mobile Har Lan</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain4_e.html">Product Library</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain5_e.html">Friendly Link</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain6_e.html">Privacy Policy</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain7_e.html">Legal Statement</a>
            </div>
            <div class="foot_line"></div>
            <!-- <div class="a_txt_b">
                Browse Alphabetically:
                <a href="new_explain8_e.html">Onetouch</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain9_e.html">Showroom </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain10_e.html">Country Search </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain11_e.html">Suppliers</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain12_e.html">Wholesaler </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain13_e.html">Affiliate</a>
            </div>
            <div class="a_txt_b">
                Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - Law
                Enforcement
                Compliance Guide
            </div> -->
            <div class="a_txt_b">
                copyright 2017-2018 harlanchina.com 浙ICP备17059278号-1
            </div>
        </div>
    </div>
</div>

<script src="js/jQuery/jquery-1.11.2.js" type="text/javascript"></script>
<script src="js/placehoder.js" type="text/javascript"></script>
<script src="js/sale_firm_tel.js" type="text/javascript"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="lib/buyer_tel.js"></script>
</body>
</html>