<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HarLan | Better Applying Chemistry</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
    <link rel="stylesheet" type="text/css" href="css/pe_common.css"/>
    <link rel="stylesheet" href="css/sale_firm_store_flow.css"/>
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>
<body>

<div class="entire" id="rrapp">
    <!--顶部区域开始-->
    <div class="header">
        <div class="header_sub">
            <ul class="header_fl">
                <li><a href="/">Harlan Mall</a></li>
                <li><a href="index.html">Home</a></li>
                <li><a href="guide_zh.html">中国供应商入口</a></li>
                <!--<li><a href="new_explain16_c.html">Cooperation and service</a></li>-->
                <li><a href="goods_employed_self.html">Self-support</a></li>
                <li><a href="goods_employed_third.html">ThirdPart-support</a></li>
				<li style="color:#ff792d;"><a href="find_goods_list.html"><strong>Inquiry Platform</strong></a></li>
            </ul>
            <ul class="header_fr">
                <!--登录之后显示-->
                <li v-if="user!=null" class="out_area">
                    <a href="pe_index_b.html">My harlan</a>
                    <a @click="logout">Sign out</a>
                </li>
                <!--登录之前显示-->
                <li v-if="user==null" class="no_land">
                    <a href="login_en.html">Sign in</a> | <a href="register_en.html">Register</a>
                </li>
                <li><a href="new_explain17_c.html">Help Center</a></li>
                <!--<li class="lang_li">
                    <span>Language</span>
                    <div class="span_sj"></div>
                    <div id="lang_mn" class="lang_mn" style="display: none;">
                        <div class="lang_item"><a href="#">简体中文</a></div>
                        <div class="lang_item"><a href="#">繁體中文</a></div>
                        <div class="lang_item"><a href="#">English</a></div>
                        <div class="lang_item"><a href="#">한국어 </a></div>
                        <div class="lang_item"><a href="#">日本語</a></div>
                    </div>
                </li>-->
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!------------------顶部区域结束-------------->
    <div class="pe_one_top">
        <div class="first_sub">
            <div class="logo">
            	<a href="index.html"></a>
            </div>
            <ul class="mn_list">
                <li><a href="pe_index_b.html">Home Page</a><span class="line_slide"></span></li>
                <li class="mn_active"><a href="sale_person_info.html">MY INFORMATION</a><span class="line_slide"></span>
                </li>
            </ul>
            <div class="pe_top_btn">
               
             
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="pe_con">
        <div class="pe_con_sub">
            <div class="pe_con_mn">
                <ul class="pe_con_mn_list">
                    <li><a href="sale_person_info.html">Essential information</a></li>
                    <li><a href="sale_person_tel.html">Cell-phone number</a></li>
                    <li class="current_bg"><a @click="lnkShopInfoUtils">Store information</a></li>
                    <!--<li><a href="sale_person_pic.html">Company photo</a></li>-->
                </ul>
                <div class="mn_bg"></div>
            </div>
            <div class="pe_con_right">
                <div class="my_info">
                    <div class="pe_til">Store management</div>
                    <div class="store_flow">
                        <p class="flow_p">You Have Not Yet Applied For A Shop</p>
                        <div class="open_flow">
                            <div class="pic_txt">
                                <div class="flow_pic"></div>
                                <p>Submission of information</p>
                            </div>
                            <div class="arrow"></div>
                            <div class="pic_txt">
                                <div class="flow_pic"></div>
                                <p>Online audit</p>
                            </div>
                            <div class="arrow"></div>
                            <div class="pic_txt">
                                <div class="flow_pic"></div>
                                <p>Success in the shop</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="txt_list">
                            <div class="txt_item">
                                <div class="txt_point"></div>
                                <div class="txt_con">An independent store with a certified identity</div>
                                <div class="clear"></div>
                            </div>
                            <div class="txt_item">
                                <div class="txt_point"></div>
                                <div class="txt_con">Release products free of charge and get global promotion opportunities
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="txt_item">
                                <div class="txt_point"></div>
                                <div class="txt_con">Efficient matching of purchase orders</div>
                                <div class="clear"></div>
                            </div>
                            <div class="txt_item">
                                <div class="txt_point"></div>
                                <div class="txt_con">Simultaneous promotion of product line and line</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="btn"><a href="sale_person_store_form.html">Immediate application</a></div>
                        <div class="mrdz">
                            <div class="label_prt">
                                <label><input type="checkbox" checked="checked"><span></span></label>&nbsp;
                            </div>
                            <div class="input_txt">I accept the merchant registration agreement</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="foot_bottom">
        <div class="foot_sub">
            <div class="download">
                <div class="load_txt">download :</div>
                <div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
                <div class="load_pic_b"><a href="hualang.apk"></a></div>
            </div>
            <div class="a_txt">
                <a href="new_explain1_e.html">Contact Us</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_file1_e.html">Contact Customer Service</a>
                <span>&nbsp;|&nbsp;</span>-->
                <a href="new_explain2_e.html">Business Cooperation</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_explain8_e.html">Merchant help</a>
                <span>&nbsp;|&nbsp;</span>-->
               <!--  <a href="new_explain3_e.html">Mobile Har Lan</a>
                <span>&nbsp;|&nbsp;</span> -->
                <a href="new_explain4_e.html">Product Library</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain5_e.html">Friendly Link</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain6_e.html">Privacy Policy</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain7_e.html">Legal Statement</a>
            </div>
            <div class="foot_line"></div>
            <!-- <div class="a_txt_b">
                Browse Alphabetically:
                <a href="new_explain8_e.html">Onetouch</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain9_e.html">Showroom </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain10_e.html">Country Search </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain11_e.html">Suppliers</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain12_e.html">Wholesaler </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain13_e.html">Affiliate</a>
            </div>
            <div class="a_txt_b">
                Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - Law
                Enforcement
                Compliance Guide
            </div> -->
            <div class="a_txt_b">
                copyright 2017-2018 harlanchina.com 浙ICP备17059278号-1
            </div>
        </div>
    </div>
</div>

<script src="js/jQuery/jquery-1.11.2.js" type="text/javascript"></script>
<script src="js/placehoder.js" type="text/javascript"></script>
<script src="lib/common.js"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="lib/sale_person_store_flow.js"></script>
</body>
</html>