<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HarLan | Better Applying Chemistry</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
    <link rel="stylesheet" href="css/shop_detail.css" />
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>
<body>
<div class="header">
    <div class="header_sub">
        <ul class="header_fl">
            <li><a href="/">Harlan Mall</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="guide_zh.html">中国供应商入口</a></li>
            <!--<li><a href="shop_cart_en.html">My shopping cart ></a></li>-->
            <li class="red_bg"><a href="goods_employed_self.html">Self-support</a></li>
            <li class="red_bg"><a href="goods_employed_third.html">ThirdPart-support</a></li>
			<li class="red_bg" style="color:#ff792d;"><a href="find_goods_list.html"><strong>Inquiry Platform</strong> </a></li>
        </ul>
        <ul class="header_fr">
            <li><a href="pe_index_b.html">My harlan</a></li>
            <li><a href="login_en.html">Sign in</a> <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> <a href="register_en.html">Register</a></li>
            <li><a href="new_explain8_e.html">Help Center</a></li>
            <!--<li class="lang_li">
                <span>Language</span>
                <div class="span_sj"></div>
                <div class="lang_mn" style="display: none;">
                    <div class="lang_item"><a href="#">简体中文</a></div>
                    <div class="lang_item"><a href="#">繁體中文</a></div>
                    <div class="lang_item"><a href="#">English</a></div>
                    <div class="lang_item"><a href="#">한국어 </a></div>
                    <div class="lang_item"><a href="#">日本語</a></div>
                </div>
            </li>-->
        </ul>
        <div class="clear"></div>
    </div>
</div>

<!--搜索区域开始-->
<div class="search_area">
    <div class="search_area_sub">
        <div class="search_logo"><a href="index.html"></a></div>
        <div class="search_div">
            <div class="search_fl">
                <div class="search_whitch">Supplier</div>
                <ul class="search_ul" style="display: none;">
                    <li @click="searchType='product'">Product</li>
                    <li @click="searchType='supplier'">Supplier</li>
                    <li @click="searchType='cas'">CAS</li>
                </ul>
                <div class="search_input_div">
                    <input type="text" v-model="searchParam"/>
                </div>
            </div>
            <div class="search_btn" @click="redirectSel">Search</div>
        </div>
        <!-- <a href="f_free_find.html" class="inquiries_btn">Free Find</a> -->
    </div>
</div>
<!--------------搜索区域结束-------------->
<div class="entire">



    <div class="crumb"><a href="index.html">Index</a>><a href="#">Shop for details</a></div>
    <div class="third">
        <div class="third_sub">
            <div class="company">
                <div class="company_pic" :style="'backgroundImage: url('+shop.com_logo+')'"></div>
                <div class="company_mesg">
                    <div class="company_name">{{shop.com_name}}</div>
                    <div class="company_op">
                        <div class="op_collect">Collection</div>
                        <div class="op_tel">Tell:<span>{{shop.com_landline}}</span></div>
                        <div class="op_mail">E-mail<span>{{shop.com_qq}}@qq.com</span></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="tab_block">
                <div class="tab_mn">
                    <ul class="mn_list">
                        <li class="mn_current">The products of the company</li>
                        <li>Company profile</li>
                        <li>The company photo album</li>
                        <div class="line_hua"></div>
                    </ul>
                </div>
                <div class="tab_content">
                    <div class="con" style="display: block;">
                        <div class="cp">
                            <div class="type">
                                <div class="type_lab">Product classification:</div>
                                <ul class="type_list">
                                    <li class="li_active">All</li>
                                    <li>Variety</li>
                                    <div class="clear"></div>
                                </ul>
                                <div class="clear"></div>
                            </div>
                            <div class="goods_list">
                                <div class="good_item" v-for="item in startSaleList">
                                    <div class="gd_pic"
                                         :style="'backgroundImage:url('+item.product_picture+')'"></div>
                                    <div class="gd_mesg">
                                        <p class="gd_nm">{{item.goods_name}}</p>
                                        <div class="gd_nomal">
                                            <div class="gd_a">
                                                Specifications<span>{{item.specification}}</span><span></span></div>
                                            <div class="gd_b"> Purity<span>{{item.goods_purity}}</span><span></span>
                                            </div>
                                            <div class="gd_b">Product Model<span>{{item.cino}}</span><span></span>
                                            </div>
                                        </div>
                                        <div class="pri_area">
                                            <div class="pr_n"><span>￥{{item.current_price}}</span><em>.00/{{item.goods_unit}}</em>
                                            </div>
                                            <!--<div class="pr_op"><del>￥{{item.market_price}}.00/{{item.cargo_unit}}</del></div>-->
                                            <div class="clear"></div>
                                            <div class="count_ty">
                                                <div class="lb">Cash assets</div>
                                                <div class="lb_txt">{{item.payment_opt}}</div>
                                            </div>
                                            <div class="count_ty">
                                                <div class="lb">MOQ:</div>
                                                <div class="lb_txt">200瓶</div>
                                            </div>
                                        </div>
                                        <div class="btn_area">
                                            <a href="g_goods_detail.html"><div class="btn_a">Buy Now</div></a>
                                            <a href="shop_cart_en.html"><div class="btn_b"> Add to Cart</div></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="con" style="display: none;">
                        <div class="da">
                            <div class="da_item">
                                <div class="lbl">Company</div>
                                <div class="item_txt">{{shop.com_name}}</div>
                                <div class="clear"></div>
                            </div>
                            <div class="da_item">
                                <div class="lbl"> Company phone</div>
                                <div class="item_txt">{{shop.com_landline}}</div>
                                <div class="clear"></div>
                            </div>
                            <div class="da_item">
                                <div class="lbl"> Company Fax</div>
                                <div class="item_txt">{{shop.com_fax}}</div>
                                <div class="clear"></div>
                            </div>
                            <div class="da_item">
                                <div class="lbl">Company QQ：</div>
                                <div class="item_txt">{{shop.com_qq}}</div>
                                <div class="clear"></div>
                            </div>
                            <div class="da_item">
                                <div class="lbl">Company Address</div>
                                <div class="item_txt">{{shop.com_addr}}</div>
                                <div class="clear"></div>
                            </div>
                            <div class="da_item">
                                <div class="lbl">Business License</div>
                                <div class="item_pic" :style="'backgroundImage:url('+shop.com_license+')'"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="con" style="display: none;">
                        <div class="ph">
                            <div class="ph_area">
                                <div class="ph_til">environment</div>
                                <ul class="ph_list">
                                    <li class="li_pic" :style="'backgroundImage:url('+shop.com_env+')'"></li>
                                    <div class="clear"></div>
                                </ul>
                            </div>
                            <div class="ph_area">
                                <div class="ph_til">production environment</div>
                                <ul class="ph_list">
                                    <li class="li_pic" :style="'backgroundImage: url('+shop.com_proenv+')'"></li>
                                    <div class="clear"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot_bottom">
        <div class="foot_sub">
            <div class="download">
                <div class="load_txt">download :</div>
                <div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
                <div class="load_pic_b"><a href="hualang.apk"></a></div>
            </div>
            <div class="a_txt">
                <a href="new_explain1_e.html">Contact Us</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_file1_e.html">Contact Customer Service</a>
                <span>&nbsp;|&nbsp;</span>-->
                <a href="new_explain2_e.html">Business Cooperation</a>
                <span>&nbsp;|&nbsp;</span>
                <!--<a href="new_explain8_e.html">Merchant help</a>
                <span>&nbsp;|&nbsp;</span>-->
                <!-- <a href="new_explain3_e.html">Mobile Har Lan</a>
                <span>&nbsp;|&nbsp;</span> -->
                <a href="new_explain4_e.html">Product Library</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain5_e.html">Friendly Link</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain6_e.html">Privacy Policy</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain7_e.html">Legal Statement</a>
            </div>
            <div class="foot_line"></div>
            <!-- <div class="a_txt_b">
                Browse Alphabetically:
                <a href="new_explain8_e.html">Onetouch</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain9_e.html">Showroom </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain10_e.html">Country Search </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain11_e.html">Suppliers</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain12_e.html">Wholesaler </a>
                <span>&nbsp;|&nbsp;</span>
                <a href="new_explain13_e.html">Affiliate</a>
            </div>
            <div class="a_txt_b">
                Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - Law
                Enforcement
                Compliance Guide
            </div> -->
            <div class="a_txt_b">
                copyright 2017-2018 harlanchina.com 浙ICP备17059278号-1
            </div>
        </div>
    </div>
</div>


<script src="js/jQuery/jquery-1.11.2.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/top_bottom.js"></script>
<script src="lib/base64.js"></script>
<script src="lib/common.js"></script>
<script src="plugins/jquery.pagination.js"></script>
<script src="js/placehoder.js" type="text/javascript" charset="utf-8"></script>
<script src="js/shop_detail.js" type="text/javascript" charset="utf-8"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="lib/shop_detail.js"></script>
</body>
</html>