<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HarLan | Better Applying Chemistry</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/swiper/swiper-3.4.2.min.css"/>
     <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
   <link rel="stylesheet" href="css/xieyi.css">
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>

<body>
    <div class="entire" id="rrapp">
    	<!--顶部区域开始-->
		<div class="header">
			<div class="header_sub">
				<ul class="header_fl">
					<li><a href="/">Harlan Mall</a></li>
					<li><a href="index.html">Home</a></li>
					<li><a href="guide_zh.html">中国供应商入口</a></li>
					<li class="red_bg"><a href="goods_employed_self.html">Self-support</a></li>
					<li class="red_bg"><a href="goods_employed_third.html">ThirdPart-support</a></li>
					<li class="red_bg" style="color:#ff792d;"><a href="find_goods_list.html"><strong>Inquiry Platform</strong> </a></li>
					<li></li>
				</ul>
				<ul class="header_fr">
					<!--登录之后显示-->
					<li v-if="user!=null" class="out_area">
						<a @click="lnkPersonalCenter">My harlan</a>
						<a @click="logout">Sign out</a>
					</li>
					<!--登录之前显示-->
					<li v-if="user==null" class="no_land">
						<a href="login_en.html">Sign in</a> | <a href="register_en.html">Register</a>
					</li>
					<li><a href="new_explain17_c.html">Help Center</a></li>
					<!--<li class="lang_li">
                        <span>Language</span>
                        <div class="span_sj"></div>
                        <div id="lang_mn" class="lang_mn" style="display: none;">
                            <div class="lang_item"><a href="construct.html">简体中文</a></div>
                            <div class="lang_item"><a href="construct.html">繁體中文</a></div>
                            <div class="lang_item"><a href="construct.html">English</a></div>
                            <div class="lang_item"><a href="construct.html">한국어 </a></div>
                            <div class="lang_item"><a href="construct.html">日本語</a></div>
                        </div>
                    </li>-->
				</ul>
			</div>
		</div>
	    <!------------------顶部区域结束-------------->
        <!--搜索区域开始-->
		<div class="search_area">
			<div class="search_area_sub">
				<div class="search_logo"><a href="index.html"></a></div>
				<div class="search_btn_list">
					<!-- <a href="shop_cart_en.html" class="cart_btn" v-show="carShow">My cart <span>{{gross}}</span></a> -->
				</div>
				<div class="search_div">
					<div class="search_fl">
						<div class="search_whitch">Supplier</div>
						<ul class="search_ul" style="display: none;">
							<li @click="searchType='product'">Product</li>
							<li @click="searchType='supplier'">Supplier</li>
							<li @click="searchType='cas'">CAS</li>
						</ul>
						<div class="search_input_div">
							<input type="text" v-model="searchParam"/>
						</div>
					</div>
					<div class="search_btn" @click="redirectSel">Search</div>
				</div>
			</div>
		</div>
        <!--------------搜索区域结束-------------->
		<div class="banner_box">
			<img src="imgs/tianjiaimg/lansebanner.jpg">
		</div>  
		<div class="con_mid">
			<div class="n_title">Merchant Entry Agreement</div>
				 <div class="n_txt">
				 	<p>The Merchant Entry Agreement (hereinafter referred to as "this agreement") is a formal and complete agreement between the merchants and Harlan platform for the use of various services on Harlan platform. If the merchants actually use Harlan platform services or registers on Harlan platform, that means they accept all the terms and conditions of this agreement. If the merchant do not accept the terms of this agreement in part or in whole, it should not use the services provided by Harlan platform.</p>
				 	<p>The term "merchant" as used in this agreement refers to the suppliers and purchasers who obtain information services on chemical transactions on Harlan platform, as well as supply chain service providers.</p>
				 	<p>The contents of this agreement also include relevant agreements, business rules and other contents that have been published or may be continuously released or updated by Harlan platform. Once the above contents are officially released, they are an integral part of this agreement..</p>
				 	<h6>Article 1 Registration</h6>
				 	<p>1.1 Merchant shall read this agreement and the relevant business rules carefully before using the platform services. The merchant should strictly observe the registration process of Harlan platform, and agree to comply with Service Agreement, Merchant Entry Agreement and other relevant business rules of Harlan platform</p>
				 	<p>1.2 The ownership of the merchant accounts belongs to Harlan platform. After completing the application procedure, the merchant will only obtain the right to use the accounts, and the right to use only belongs to the initial applicants.</p>
				 	<p>1.3 In order to apply for joining Harlan platform, merchants must satisfy the following conditions: </p>
				 	<p> (1)  Merchant is an entity organization or individual with legal qualification and capacity of civil conduct and responsibility </p>
				 	<p> (2) The services registered and used by the merchants do not violate any legal or contractual obligations (including but not limited to competition restrictions, confidentiality, exclusive distribution or purchase restrictions, etc.);</p>
				 	<p> (3) Merchants comply with the standards of investment related to Harlan platform;</p>
				 	<p> (4) The merchants and the goods or services they sell or provides should have the corresponding qualifications;</p>
				 	<p> (5)National laws and regulations and relevant conditions stipulated in other business rules of Harlan platform.</p>
				 	<p>1.4 Harlan platform has a special qualification examination procedure for the merchants who publish the information of the dangerous chemicals . The merchants must obtain the qualifications for the sale of the dangerous chemicals and provide the corresponding audit materials according to the requirements of the platform, including but not limited to:</p>
				 	<p>1.4.1 Certificates of qualification (such as business license, tax registration certificate, etc.) to prove the qualification of the merchants;</p>
				 	<p>1.4.2 Prove that the merchants have special qualification certificates for production, operation and use of dangerous chemicals. (such as the hazardous chemical materials safety production license, dangerous chemicals business license, license for safe use of hazardous chemicals );</p>
				 	<p>1.4.3 Other qualifications required by laws, regulations and regulatory authorities.</p>
				 	<p>Harlan platform will review the scope of the above-mentioned hazardous materials strictly in accordance with the Dangerous Chemicals issued by the official website of the State Administration for Safety Production Supervision and the official directory of the country , as amended from time to time in the future .At the same time, according to the requirements of national laws, regulations and regulatory authorities, the above certificates of the merchants will be displayed on Harlan platform.</p>
				 	<p>1.5 When applying for store name, sub-domain name and other information, the merchants shall comply with the national laws and regulations , relevant rules of the Harlan platform, and shall not include any illegal or suspected infringement of the rights of others.</p>
				 	<p>1.6 For those who do not have the qualifications of 1.2, 1.3 and 1.4, Harlan platform shall have the right to suspend or cancel the accounts of the merchants; To recover the losses, Harlan platform has the right to claim compensation from the merchants(including but not limited to compensation, compensation, fines, legal costs, investigation fees and legal fees).</p>
				 	<p>1.7 The merchants should guarantee the integrity, authenticity and legality of the information provided at the time of registration and timely update the information when it changes. Harlan platform has the right to check the registration information of the merchants from time to time according to their business needs. Once the information of the merchant do not conform to the business rules of Harlan platform, Harlan has the right to suspend or cancel the merchant. </p>
				 	<p>1.8 The merchant shall not lend/lease the account to others, otherwise the merchant shall bear all the liabilities arising therefrom, and undertake joint and several liability with the actual user. Upon discovery, Harlan platform has the right to cancel their accounts. Therefore, Harlan platform has the right to report to the state judicial organs for borrowing and leasing in violation of the state laws and regulations.</p>
				 	<h6>Article 2 Info Diffusion</h6>
				 	<p>2.1 The product page publicity should be accurate, clear and clear on the  performance, function, origin, purpose, quality, composition, price, producer, expiry date, promise of the products,or other forms of content, provider, form, quality, price, and promise.</p>
				 	<p>2.2 All contents in the product page publicity must be related to the product or merchant brand introduction, enterprise information introduction and other attributes.</p>
				 	<p>2.3 The logo of other platforms or competitors and the contents which are reproduced or copied obviously and may infringe the legitimate rights and interests of third parties should not be displayed.</p>
				 	<p>2.4 The merchant shall maintain and modify the product price, inventory and other information in real time according to the actual situation. If the transaction cannot be carried out or losses caused by the incorrect price of the product or other product information, and the product update is not timely, all the consequences of liability shall be borne by the merchant itself.</p>
				 	<p>2.5 Special requirements for merchants meeting the requirements of article 1.4 to release information on hazardous chemicals:</p>
				 	<p>2.5.1 For merchants that publish hazardous chemicals information, warning messages should be issued at a prominent location on the merchant interface, and it must include at least the following contents:</p>
				 	<p> (1)This product belongs to the product of "easy to make poison"/" easy to make explosive ", and no individual is allowed to buy it;</p>
				 	<p> (2) To purchase this product, your company shall have the legal qualification of the corresponding product;</p>
				 	<p> (3) If a transaction needs to be filed with the competent authority, it shall be filed with the competent authority in advance according to law.</p>
				 	<p> (4) The logistics and storage of the product must be the logistics company and storage companies with corresponding qualifications, and can’t use ordinary logistics such as express delivery. The handling, transportation and warehousing procedures shall be strictly controlled in accordance with the requirements of relevant laws and regulations.</p>
				 	<p> (5) This product is only for product display, not for trading.</p>
				 	<p> (6)Other warnings required by laws, regulations or regulatory authorities.</p>
				 	<p>2.5.2The merchant must strictly examine the purchaser's qualifications in accordance with the requirements of the laws and regulations and the regulatory authorities, and submit the qualifications of the purchaser and the related transaction information to the backup of the wave platform. Harlan platform has the right to review the information of the purchasers and transactions. For the business and legal procedures that do not have legal qualifications, Harlan platform has the right to terminate, write off the account of the merchant and report to the judiciary. </p>
				 	<h6>Article 3 operation</h6>
				 	<p>3.1 Merchant understands and agrees that the parties to the contract for the chemical transaction shall be the registered merchants of Harlan platform, the guarantee of defects and the liability for payment shall be borne by the merchant in accordance with the agreed contents. As a trading information platform, Harlan platform is an independent commercial entity with merchants and does not assume any security or joint and several liability to merchants.</p>
				 	<p>3.2 Before the conclusion and performance of chemical transactions, the merchant shall examine the authenticity and performance capacity of the purchaser on its own, and shall require the purchaser to clarify the shape of the goods and the information required for the purchase. In particular, as a trading information platform, Harlan platform cannot control the purchase demand, payment ability, goods shape, quality, authenticity or accuracy of user information involved in each order. If a merchant suffers personal injury or property damage as a result of the conclusion and performance of a chemical transaction, or causes damage to the person or property of a third party, it shall be investigated for legal responsibility in accordance with the law. Harlan platform assumes no liability.</p>
				 	<p>3.3 If a merchant enters into an offline transaction or condition beyond the order information (such as logistics, warehousing, information, quality guarantee, etc.), the merchant ought to retain the corresponding evidence, and undertake corresponding legal responsibility within the scope of their respective responsibility. At any time, the merchant is prohibited from selling the following goods:</p>
				 	<p> (1) Clearly prohibited or restricted by national laws and regulations;</p>
				 	<p> (2) Special qualifications or conditions required by national laws and regulations;</p>
				 	<p> (3) Infringing on another person's intellectual property rights or other legitimate rights and interests;</p>
				 	<p> (4) Assisting other merchants to provide false information and defrauding them out of tax exemption, loan and other qualifications;</p>
				 	<p> (5) Items considered unsuitable for sale on Harlan platform.</p>
				 	<p>3.4 It is the basic obligation of the merchant to "truthfully describe the goods" and undertake the guarantee responsibility for the quality of the goods/services. "Truthfully describe the goods" refers to the commodity description page, shop, activities page all channels Harlan platform provided, the merchant must show the description of the information such as the basic attributes of goods, color, defective are true and complete.</p>
				 	<p>3.5 Merchant shall guarantee that the sale of goods can be normal use within a reasonable period, services provided in accordance with commitment criteria, including no unreasonable danger to the safety of personal property, having the proper use performance of a commodity, comply with the standards specified on the goods or their packaging, conform to provide service commitment and the commitment is not lower than the national or industry standards and so on.</p>
				 	<p>3.6 If any third party is harmed by the merchant in violation of laws and regulations or the rules of waxing platform, the merchant shall be independently bear all the legal responsibilities in its own name, and shall ensure that the Harlan platform from bear the resulting loss or increase the cost.</p>
				 	<p>3.7 The revenue and profit gained by the merchant from Harlan platform shall be reported and paid in accordance with the law.</p>
				 	<p>3.8 The merchant shall not make commercial use of any data or information on Harlan platform, including but not limited to use in any way such as replication and propagation, permit or leak to be used by any third party, facilitate the use of any third party without the agreement of Harlan in three years after termination.</p>
				 	<h6>Article 4 Stock Management</h6>
				 	<p>4.1The merchant must ensure that all the goods sold in Harlan platform are in stock and check the authenticity of the goods in storage, integrity of products, integrity of internal/external packaging and scratch-type anti-counterfeiting standards.</p>
				 	<p>4.2 The name, model, main function, manufacturer and accessory parts of the goods stored by the merchant shall be consistent with the description of the goods in the store.</p>
				 	<p>4.3. The merchant guarantees that the promotional products and gifts are consistent with the description of the goods in the store, and the Item number must be consistent with the inventory.</p>
				 	<h6>Article 5 After-sale Service</h6>
				 	<p>5.1 The merchant shall bear the after-sales service responsibility for the goods sold. After-sales service refers to the training of the products, the return of the goods submitted by the buyer, and the processing of the application for replacement of goods.</p>
				 	<p>5.2The after-sales service of merchants includes but is not limited to the following contents:</p>
				 	<p> (1) For example, Harlan platform must contact the merchant when dealing with after-sales service, according to the type of goods and after-sales service problem severity, Harlan platform contact the merchant by phone, email (the email address recorded merchants system) or complaint form. The  merchant should pay attention to check and reply according to the requirements , in order to provide after-sales service for the purchasers.</p>
				 	<p> (2) The merchant shall have a special customer service team (or personnel) to handle problems from the purchasers, including but not limited to goods return, replacement, maintenance and other after-sales services;</p>
				 	<p> (3) the merchant and the customer service team (or personnel) provided by the merchant shall provide corresponding after-sales service to the purchasers in accordance with the warranty commitment of the commodity If the merchant's own after-sales service policy is more conducive to purchasers, they should provide after-sale services that are more favorable to purchasers.</p>
				 	<p>5.3 As an information platform, Harlan platform is not the counterpart of the sales contract. So it shall not be liable for the after-sales service caused by the sales contract.</p>
				 	<h6>Article 6 Storage and limitation of Information</h6>
				 	<p>6.1 Harlan platform shall not be responsible for the deletion or storage failure of the information released by the merchant, and the merchant shall back up the information and data by himself.</p>
				 	<p>6.2 After the merchant account cancelled, Harlan platform is not obligated to retain or disclose any information in its accounts and has no obligation to forward to the merchant or a third party any information that has not read or sent.</p>
				 	<p>6.3 The merchant understands and agrees that after the termination with Harlan platform, Harlan platform shall still enjoy the following rights:</p>
				 	<p> (1) The right to continue to keep the registration information not deleted in time by the merchant and all information released during the service period of using the platform, until the expiry of the legal records.</p>
				 	<p> (2) If there is any illegal act or violation of this agreement and/or rules during the service of the merchant using the platform, Harlan platform can still claim rights to the merchant in accordance with this agreement.</p>
				 	<p> (3) The right to require the merchant to undertake confidentiality obligations under this agreement without paying any expense .</p>
				 	<h6>Article 7 Platform responsibilities and Limitations (Very important, please read it carefully.)</h6>
				 	<p>7.1 Only laws and regulations clearly require, or the following situations occur, then Harlan platform can check the registration information and order information of the merchant before or after the event.</p>
				 	<p>(1) The merchant requires and has reasonable grounds to believe that there may be a material breach of law or breach of contract by a particular merchant or transaction.</p>
				 	<p>(2) The merchant requires and has reasonable grounds to believe that the behavior of the merchant in the platform is suspected to be illegal or improper. The merchant understands and agrees that due to the limited data and technical conditions, the review of Harlan platform cannot be fully reviewed.</p>
				 	<p>7.2 Merchant understands and agrees that according to law or this agreement, on the premise of clear compensation obligation, the compensation limit of Harlan platform is the service cost of a single order., and not liable for any damages arising out of the following circumstances, including but not limited toprofits, goodwill, use, data loss or other intangible loss of damages:</p>
				 	<p> (1) Using or failing to use the service of Harlan platform;</p>
				 	<p> (2) Unauthorized use or modification of the merchant data by a third party;</p>
				 	<p> (3) Through Harlan platfrom，the behaviors of buying or obtaining any commodity, sample, data, information，or substituting to the Costs and losses of the behaviors.</p>
				 	<p> (4) Merchant's misunderstanding of the service of Harlan platform</p>
				 	<p> (5) Any other loss not caused by the fault of Harlan platform.</p>
				 	<p>7.3 Due to force majeure or uncontrollable factors, Harlan platform is cracked or unable to operate normally, leading to a transaction cannot complete or loss related information, records and so on, Harlan platform is not liable. Harlan platform will assist in dealing with the aftermath as reasonably as possible and try to protect the merchant or reduce the economic loss.</p>
				 	<p>7.4 The merchant agrees that it is obligated to inform the platform in time if any content of the platform is inconsistent with the laws or provisions of this agreement. If the merchant finds that his legal rights have been infringed, please inform the platform and provide the following information and materials:</p>
				 	<p> (1) The address, number, or other details of the information that infringes the merchant's rights.</p>
				 	<p> (2) Contact information of the merchant, including contact name, address, telephone number and email;</p>
				 	<p> (3) Photocopy of the merchant's id card, business license and other relevant materials.</p>
				 	<p>If confirmed by the examination, Harlan platform will delete the relevant information in time. Harlan platform only accepts written notice of infringement by mail, email or fax. In case of emergency, the merchant can phone the customer service in advance, and Harlan platform will take corresponding measures.</p>
				 	<p>7.5 For the merchants in Harlan platform occur improper behavior, illegal behavior or any other behaviors that are not allowed by Harlan , Harlan has the right to delete the information at any time, frozen account, termination of services and so on, without the permission of the merchants. The information includes:</p>
				 	<p> (1) Including but not limited to the purpose of avoiding expenses and hyping credit;</p>
				 	<p> (2) Harlan platform has reasons to believe that there are malicious or false contents such as fraud;</p>
				 	<p> (3) Harlan platform has reasons to believe that it is not related to online trading or not for the purpose of trading.</p>
				 	<p> (4) Harlan has reasons to believe that there are malicious bidding or other factors trying to disturb the normal trading order;</p>
				 	<p> (5) Harlan has reasons to believe that the information violates the public interest or may seriously damage the legitimate interests of the platform and other businesses.</p>
				 	<p>7.6 The behaviors of the merchant on Harlan platform, including not in Harlan platform but have already had an impact on Harlan platform and merchants, Harlan platform has the right to unilaterally determine the nature of the act and whether it constitutes a violation of this agreement and / or rules, and accordingly takes corresponding necessary measures. </p>
				 	<p>7.7 Merchants understands and agrees that Harlan platform may cooperate with a third party to provide related services (including but not limited to advertising service, payment services, logistics, warehousing services, etc.), in this case, Harlan platform does not guarantee the availability, effectiveness and legitimacy of services which are provided by a third party. </p>
				 	<p>7.8 In the course of transaction, if the merchant disputes and requests Harlan platform to mediate and deal with, Harlan platform has the right (but no obligation) to mediation and deal with the dispute. Harlan platform has the right to know the situation to both parties and inform each other the situation through email. Harlan platform does not has the legal enforcement power to adjust and handle the above dispute, nor does it affects any legal rights of users. Harlan platform makes its own judgment based on its understanding, but it shall not bear any legal responsibility for the adjustment and settlement nor shall it assume any compensation obligation.</p>
				 	<p>7.9 If any of the following situations happen, Harlan platform shall have the right to terminate this agreement directly by closing the account, and has the right to permanently freeze (cancel) the merchant account:</p>
				 	<p> (1) After the termination of the service provided to the merchant by Harlan platform, without the written permission, the merchant is suspected to register the user of Harlan platform directly or indirectly or in the name of others;</p>
				 	<p> (2) The e-mail provided by the merchant does not exist or is unable to receiv, and there is no other way can contact with the merchant, or Harlan platform notices the merchant to change the email messages in the other way, but the merchant isn’t change within 10 working days.</p>
				 	<p> (3) The main contents of the merchant are not true, inaccurate, untimely or incomplete;</p>
				 	<p> (4) When this agreement (including rules) is changed, the merchant expresses and notifies Harlan platform that it is unwilling to accept the new service agreement;</p>
				 	<p> (5) If the merchant violates the rules of Harlan platform or damages the legitimate rights and interests of Harlan platform or a third party, and fails to make correction within three working days upon notification;</p>
				 	<p> (6) Others that Harlan platform believes should be terminated.</p>
				 	<h6>Article 8 Rests</h6>
				 	<p>8.1 The headings of all articles of this agreement are for the convenience of reading, and have no actual meaning and cannot be used as the basis for interpretation of the meaning of this agreement.</p>
				 	<p>8.2 The terms of this agreement are not valid or ineffective for any reason, the remaining provisions shall remain valid and binding upon both parties.</p>
				 	<p>8.3 Besides this agreement, the merchant shall still abide Platform Service Agreement, Platform Opening Agreement and other relevant business rules.</p>
				 	<p>8.4 This agreement is signed in Yinzhou District, Ningbo, People's Republic of China.</p>
				 	<p>8.5 If there is any dispute between the two parties regarding the contents of this clause or its execution. , both parties shall try their best to resolve.If the negotiation fail, either party can bring a suit to the people's court where the agreement is signed.</p>
				 </div>
			<!--<div class="TJ_bibaoti">
				<h1 class="TJ_bibaoti2E"> Contact Customer Service</h1>
		
			</div>
			<div class="TJ_file2_a">
				New products listed, according to the product market positioning of channel characteristics to determine the suitable dealer group enterprise should pay attention to long-term development, dealers are required to has the ability to operate the market, not as long as the rich can become distributors, not only the investment promotion as a means of enterprise encircling money
				<br>
				New products listed, according to the product market positioning of channel characteristics to determine the suitable dealer group enterprise should pay attention to long-term development, dealers are required to has the ability to operate the market, not as long as the rich can become distributors, not only the investment promotion as a means of enterprise encircling money<br>
		
				New products listed, according to the product market positioning of channel characteristics to determine the suitable dealer group enterprise should pay attention to long-term development, dealers are required to has the ability to operate the market, not as long as the rich can become distributors, not only the investment promotion as a means of enterprise encircling money
			</div>-->
		</div>
		<!--底部区域开始-->
		<div class="foot_bottom">
			<div class="foot_sub">
				<div class="download">
					<div class="load_txt">download :</div>
					<div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
					<div class="load_pic_b"><a href="hualang.apk"></a></div>
				</div>
				<div class="a_txt">
					<a href="new_explain1_e.html">Contact Us</a>
					<span>&nbsp;|&nbsp;</span>
					<!--<a href="new_file1_e.html">Contact Customer Service</a>
                    <span>&nbsp;|&nbsp;</span>-->
					<a href="new_explain2_e.html">Business Cooperation</a>
					<span>&nbsp;|&nbsp;</span>
					<!--<a href="new_explain8_e.html">Merchant help</a>
                    <span>&nbsp;|&nbsp;</span>-->
					<!-- <a href="new_explain3_e.html">Mobile Har Lan</a>
					<span>&nbsp;|&nbsp;</span> -->
					<a href="new_explain4_e.html">Product Library</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain5_e.html">Friendly Link</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain6_e.html">Privacy Policy</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain7_e.html">Legal Statement</a>
				</div>
				<div class="foot_line"></div>
				<!-- <div class="a_txt_b">
					Browse Alphabetically:
					<a href="new_explain8_e.html">Onetouch</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain9_e.html">Showroom </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain10_e.html">Country Search </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain11_e.html">Suppliers</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain12_e.html">Wholesaler </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain13_e.html">Affiliate</a>
				</div>
				<div class="a_txt_b">
					Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - Law
					Enforcement
					Compliance Guide
				</div> -->
				<div class="a_txt_b">
					copyright 2017-2018 harlanchina.com 浙ICP备17059278号-1
				</div>
			</div>
		</div>
		<!--底部区域结束-->
    </div>
</body>
<script type="text/javascript" src="js/jQuery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="js/top_bottom.js"></script>
<!--<script src="../static/lib/common.js" type="text/javascript" charset="utf-8"></script>-->
<script src="lib/base64.js"></script>
<script src="lib/common.js"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="lib/new_explain2_e.js"></script>
</html>