<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>HarLan | Better Applying Chemistry</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/swiper/swiper-3.4.2.min.css"/>
     <link rel="stylesheet" type="text/css" href="css/top_bottom.css"/>
    <link rel="stylesheet" href="css/xieyi.css">
    <link rel="icon" type="image/x-icon" href="imgs/favicon.ico">
</head>

<body>
    <div class="entire" id="rrapp">
    	 <!--顶部区域开始-->
		<div class="header">
			<div class="header_sub">
				<ul class="header_fl">
					<li><a href="index.html">首页</a></li>
					<li><a href="new_explain16_c.html">合作与服务</a></li>
					<li><a href="goods_employed_self.html">自营商城</a></li>
					<li><a href="goods_employed_third.html">第三方商城</a></li>
					<li style="color:#ff792d;"><a href="find_goods_list.html">系统询盘 </a></li>
				</ul>
				<ul class="header_fr">
					<!--登录之后显示-->
					<li v-if="user!=null" class="out_area"><a href="pbm_order_seller1.html">我的化浪</a> <a @click="logout">退出</a></li>
					<!--登录之前显示-->
					<li v-if="user==null" class="no_land"><a href="login_zh.html">登录</a> | <a href="register_zh.html">注册</a></li>
					<li><a href="new_explain17_c.html">帮助中心</a></li>
					<!--<li class="lang_li">
						<span>Language</span>
						<div class="span_sj"></div>
						<div class="lang_mn" style="display: none;">
							<div class="lang_item">English</div>
							<div class="lang_item">Español</div>
							<div class="lang_item">한국어 </div>
							<div class="lang_item">日本語</div>
							<div class="lang_item">中文</div>
						</div>
					</li>-->
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	    <!------------------顶部区域结束-------------->
        <!--搜索区域开始-->
		<div class="search_area">
			<div class="search_area_sub">
				<div class="search_logo"><a href="index.html"></a></div>
				<div class="search_btn_list">
					<!-- <a href="shop_cart_en.html" class="cart_btn" v-show="carShow">My cart <span>{{gross}}</span></a> -->
				</div>
				<div class="search_div">
					<div class="search_fl">
						<div class="search_whitch">Supplier</div>
						<ul class="search_ul" style="display: none;">
							<li @click="searchType='product'">Product</li>
							<li @click="searchType='supplier'">Supplier</li>
							<li @click="searchType='cas'">CAS</li>
						</ul>
						<div class="search_input_div">
							<input type="text" v-model="searchParam"/>
						</div>
					</div>
					<div class="search_btn" @click="redirectSel">Search</div>
				</div>
			</div>
		</div>
        <!--------------搜索区域结束-------------->
		<div class="banner_box">
			<img src="imgs/tianjiaimg/lansebanner.jpg">
		</div>  
		<div class="con_mid">
			<div class="n_title">用户注册协议</div>
				 <div class="n_txt">
				 	<p>化浪平台，指包括但不限于域名为“化浪.com”、“化浪.cn”、 “zh.化浪.com”、“化浪.net”等化浪所有的网站及相关移动应用，是化浪所提供的企业间、企业与个人间电子市场中进行贸易和交流的工具与服务的合称，是为用户提供的账户信息管理、采购与供应信息发布与查询、交易撮合与处理、订单查询与管理、信息系统服务、定价建议与咨询、代理货款磋商与谈判、货款代收代垫与代付、相关供应链服务、争议调解等（以下合称“化浪平台服务”）的互联网服务平台。化浪平台所提供的各项服务的所有权和运营权，均归属于化浪。</p>
				 	<p>用户注册协议（以下简称“本协议”）系用户因使用化浪平台浏览平台信息、与供应商联系，达成交易、增值服务等各项服务而与化浪订立的协议。用户实际使用化浪平台，或者注册为化浪平台用户，即表示接受本协议的所有条件和条款。用户部分或全部不接受本协议条款的，建议不要使用化浪平台。或者通过下述方式联系我们：</p>
				 	<p>联系电话：0574-89210089</p>
				 	<p>联系邮箱：service@harlanchina.com</p>
				 	<p>本协议内容同时包括化浪平台已经发布或可能不断发布或更新的相关协议、业务规则等内容。上述内容一经正式发布，即为本协议不可分割的组成部分。</p>
				 	<h6>第1条       用户信息的收集与更新</h6>
				 	<p>1.1    用户应在使用平台服务之前认真阅读本协议及相关业务规则内容。如对协议有任何疑问的，应向化浪平台客服咨询。但无论用户事实上是否在使用平台服务之前认真阅读了本协议内容，只要用户使用平台服务，则本协议即对用户产生约束，届时用户不应以未阅读本协议的内容或者未获得化浪平台客服对问询的解答等理由，主张本协议无效，或要求撤销本协议。</p>
				 	<p>1.2    用户按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即可获得化浪平台账户。用户匿名使用化浪平台账户或第三方账户登录使用化浪平台服务的，即成为化浪平台用户。用户在选择化浪用户名时须遵守国家法律法规，不得包含违法或涉嫌侵犯他人权利等相关信息。</p>
				 	<p>1.3    用户有义务在注册时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的真实性、有效性、安全性、完整性和及时更新，以便化浪平台为用户提供服务，并与用户进行及时、有效的联系。</p>
				 	<p>1.4    化浪平台可能自合法的公开及其他渠道收集用户的额外资料，以更好地了解化浪平台用户，并用于化浪平台服务、解决争议和确保在网站进行交易的安全性。化浪平台仅收集化浪平台认为就此目的所必须的关于用户的资料。</p>
				 	<p>1.5    用户同意化浪平台可以自行或通过合作的第三方机构对用户提交或化浪平台收集的用户信息（包括但不限于用户的身份信息、财务信息、工作信息、经营信息等）进行核实，并对获得的核实结果根据相关法律法规、本协议及有关文件进行查看、使用和留存等操作。</p>
				 	<p>1.6    如因用户的资料未及时更新，导致化浪平台服务无法提供或提供时发生任何错误，用户不得将此作为取消交易或拒绝付款的理由，化浪平台亦不承担任何责任，所有损失或费用等不利后果应由用户自行承担。</p>
				 	<h6>第2条       用户信息的使用和披露</h6>
				 	<p>2.1    用户同意化浪平台可使用关于用户的个人资料（包括但不限于化浪平台持有的有关用户的档案中的资料，及化浪平台从用户目前及以前在化浪平台上的活动所获取的其他资料）以解决争议、对纠纷进行调解、确保在化浪平台进行安全交易，并执行化浪平台的注册协议及平台其他规则。化浪平台有时候可能调查多个用户以识别问题或解决争议，特别是化浪平台可审查用户的资料以区分使用多个用户名或别名的用户。为限制在网站上的欺诈、非法行为或其他刑事犯罪活动，使化浪平台免受其害，用户同意化浪平台可通过人工或自动程序对用户的个人资料进行评价。</p>
				 	<p>2.2    用户同意化浪平台可以使用用户的资料以改进化浪平台的推广和促销工作、分析网站的使用率、改善化浪平台的内容和服务推广形式，并使化浪平台的网站内容、设计和服务更符合用户的要求。这些使用能改善化浪平台的网页，以调整化浪平台的网页使其更符合用户的需求，从而使用户在使用化浪服务时得到更为顺利、有效、安全及度身订造的交易体验。</p>
				 	<p>2.3    化浪平台对于用户提供的、自行收集到的、经认证的个人信息将按照《电信和互联网服务用户个人信息保护规定》及相关法律法规、本协议及平台其他规则予以保护、使用或者披露。化浪平台将采用行业标准惯例以保护用户的个人资料，但化浪平台不能确保由于技术限制的原因，用户的个人资料不会通过本协议中未列明的途径泄露、盗取出去。</p>
				 	<p>2.4    化浪平台有义务根据有关法律向司法机关、政府部门等有权机关提供用户的个人资料。在用户未能按照与本协议和业务规则或者与化浪平台与用户签订的有关协议的约定履行自己应尽的义务时，化浪平台有权根据自己的判断、有关协议和平台其他规则、国家生效裁决文书或者与该笔交易有关的其他用户的合理请求披露用户的个人资料（包括但不限于在化浪平台及其他互联网络上公布用户的违法、违约行为，并将该内容记入任何与用户相关的信用资料、档案或数据库），化浪平台对此不承担任何责任。</p>
				 	<p>2.5    本协议生效后，用户可授权化浪平台可由其提供网站或其他数据来源进行数据抓取、上传；化浪平台上的店铺、商品信息（包括但不限于店铺名称、公司名称、 联系人及联络信息、产品的描述和说明、相关图片、视频等）均由用户自行提供并上传或授权化浪平台代为抓取、上传，采用化浪平台代为抓取、上传的，用户保证其数据来源的及时性、准确性、有效性，用户对上传的所有信息承担相应法律责任。 化浪平台转载内容出于传递更多信息之目的，并不意味化浪平台赞同其观点或已经证实其内容的真实性。</p>
				 	<p>2.6    如因不可抗力或化浪平台无法控制的其他原因使化浪平台系统崩溃或无法正常使用，从而导致交易无法完成或丢失有关的信息、记录等，化浪平台不承担责任。化浪平台会尽可能合理地协助处理善后事宜，并努力使用户免受或减少经济损失。</p>
				 	<h6>第3条       平台服务的提供</h6>
				 	<p>3.1    化浪平台提供的平台服务为：账户信息管理、采购与供应信息发布与查询、交易撮合与处理、订单查询与管理、信息系统服务、定价建议与咨询、代理货款磋商与谈判、货款代收代垫与代付、相关供应链服务、争议调解等等。具体以化浪平台届时有效的服务内容为准。</p>
				 	<p>3.2    用户理解，化浪平台为用户提供服务付出了大量的成本。虽然化浪平台提供的平台服务目前是免费的。但是化浪平台未来可能根据经营计划，以会员费、单笔记提服务费等形式收取合理费用。届时以化浪平台公布的收费标准或者双方达成的一致协议为准。</p>
				 	<p>3.3    化浪平台可能为不同的终端设备开发了不同的网站或应用程序版本，用户应当根据实际情况选择登录、下载合适的版本使用。化浪平台不保证所有的版本与相关设备的适配性和可用性，亦不保证所有的版本提供的平台服务的一致性。</p>
				 	<p>3.4    尽管化浪平台尽力保证平台服务的有效性和可用性，但因电信故障、黑客攻击或政策变动等因素，可能导致平台服务部分或全部无效或调整，用户理解并接受该等情形的出现，并放弃因此向化浪平台索赔的权利。</p>
				 	<p>3.5    用户必须自行准备如下服务设备，并承担相关服务开支：</p>
				 	<p> （1）服务设备，包括并不限于手机、电脑或者其他移动终端、调制解调器及其他必备的上网装置。</p>
				 	<p> （2）服务开支，包括并不限于网络接入费、上网设备租用费、网络带宽或流量费、信息服务费，以及获取专业服务过程可能发生的其他费用等。</p>
				 	<p>3.6    用户充分了解并同意，化浪平台是一个商业性的化学品服务平台，仅面向企业用户，而并非面向普通消费者的消费购买市场，故用户必须是具有化学品合法生产、贸易、加工、经营或运输资格的实体法人或其他组织。并且，用户的询价、采购行为应当基于真实的贸易需求，不得存在对产品及/或服务实施恶意询价、采购、恶意维权等扰乱化浪平台正常交易秩序的行为。</p>
				 	<p>3.7    用户承诺，用户使用化浪平台服务的，不构成对任何法律、协议及其他法律文件的违反，不会构成任何违反应当遵守的竞业限制义务。 </p>
				 	<p>3.8    若用户与卖方、服务方产生任何纠纷的，可以请求化浪平台的争议调解服务。用户认可并愿意履行化浪平台的客服作为独立的第三方根据其所了解到的争议事实以普通、非专业人员知识水平所作出的调处决定（包括调整相关订单的交易状态、判定将争议款项的全部或部分支付给交易一方或双方、执行相应的保证金赔付等）。并且，不会因化浪平台的任何调处决定要求化浪平台承担任何责任。</p>
				 	<h6>第4条       账户管理</h6>
				 	<p>4.1    用户账户的所有权归化浪平台所有，用户完成申请注册手续后，仅获得帐号的使用权，且该使用权仅属于初始申请注册人。</p>
				 	<p>4.2    若使用第三方网站账号（如微信\微博等）注册化浪平台用户账户，则用户应对账户所对应的第三方网站账号拥有合法的使用权，如用户因故对该第三方网站账号丧失使用权的，则化浪平台可停止为账户提供服务。因第三方停止或暂停账号导致用户无法使用化浪服务或者无法备份化浪平台数据的，相关责任由用户自行承担。</p>
				 	<p>4.3    用户注册成功后，应谨慎合理的保存、使用其用户名和密码，并对利用用户的用户名和密码完成管理权限验证而实施的包括但不限于下单、在线签署各类协议、发布信息、询/报价、采购／退回产品、订购／终止服务及披露信息等所有行为、活动及事件负全责。用户若发现任何不当使用账号或存在安全漏洞等其他可能危及账户安全的情况，应当立即以有效方式通知化浪平台，要求化浪平台暂停化浪服务，并向公安机关报案。</p>
				 	<p>4.4    用户依据4.3条发出的通知至少应当包括情况描述，相关的初步证据，要求化浪平台处理的具体措施，通知人联系信息等，缺乏前述信息的通知视为无效通知。用户理解化浪平台对用户的通知请求识别、采取行动需要合理时间，化浪平台对在采取行动前已经产生的后果（包括但不限于用户的任何损失）不承担任何责任。</p>
				 	<p>4.5    化浪平台会通过向其它服务器备份、对用户密码进行加密等安全措施确保用户信息不丢失，不被滥用和变造。尽管有前述安全措施，化浪平台无法保证“完善的安全措施”。</p>
				 	<p>4.6    用户不得将账户借/租给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。一经发现，化浪平台有权注销此等账户。</p>
				 	<p>4.7    用户注册帐号后如果6个月内不登录该帐号，化浪平台有权回收、注销该帐号，以免造成资源浪费，由此带来的任何损失均由用户自行承担。</p>
				 	<p>4.8    用户理解并同意，化浪平台通过向用户注册时预留的地址、电话、邮箱等任一方式发送信息，或者通过化浪平台发送站内信息，即视为化浪平台向用户履行了送达、通知义务。</p>
				 	<h6>第5条       平台订单生效及取消</h6>
				 	<p>5.1    用户首次下订单前，应仔细确认用户有权采购相应商品或使用相关服务。化浪平台有权但无义务要求审查用户采购相关商品或服务的资质。</p>
				 	<p>5.2    用户下订单前，应仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、限制性要求等重要事项，并在采购下单时核实联系地址、电话、收货人等信息。如果因为用户填写的收货人联系电话、地址等信息错误，导致商品交付给非用户本意的收货人的，由此造成的损失需由用户自行承担。并且，在收货人与用户本人不一致的情况下，收货人的行为即视为用户的行为，用户对收货人的行为承担连带责任。</p>
				 	<p>5.3    用户理解并认可化浪平台上的订单生效规则：</p>
				 	<p> 5.3.1    化浪平台上展示的商品信息（如商品名称、价格、商品描述等）仅构成要约邀请。当用户通过化浪平台订购商品，确定购买并成功提交订单时（订单内容应包含购买的商品数量、价格及支付方式、收货人、联系方式、收货地址等信息），即视为用户向商户发出了购买订单商品的要约。</p>
				 	<p> 5.3.2     商户经化浪平台、电子邮件等方式确认订单生效的、或确认商品已发出的，或商品配送至用户指定地址的，构成商户对该订单的承诺，此时订单即告生效。</p>
				 	<p> 5.3.3    用户请知晓，采购商在化浪平台线上下单后通过平台支付的货款，为保证双方交易安全，资金将在平台冻结至采购商确认收货后的3—7个交易日内转至供应商账户。原则上，交易双方应按照诚实信用原则对订单进行管理，订单操作过程中因不同因素引起的取消订单、更改产品等事件可能造成产生一定的费用，化浪平台将视情扣除因取消订单产生的费用后将货款返回采购商，因取消订单造成供应商成本增加等引起的纠纷，双方自行协商解决，化浪作为平台服务提供方，不对双方交易纠纷承担任何法律责任；订单生成直至发货后，采购商对所有货物进行确认和签收，确认后货款将从化浪平台转给供应商账户。若采购商在签收前发现货物有质量问题等纠纷，平台将对货款自提出纠纷申诉之日起冻结15个工作日，15个工作日后货款无条件划转给供应商账户。供应商在订单生成后取消发货的，采购商的货款将直接退回采购商账户。如果供应商存在恶意取消订单行为，采购商可向化浪平台提出申诉。</p>
				 	<p> 5.3.4     如果用户在一张订单中订购了多件商品，并且商户只向用户发出了关于其中一部分商品的承诺，那么直到商户发出关于其他部分商品的承诺，关于其他部分商品的订单方告成立。</p>
				 	<p>5.4    用户理解并同意，部分商品存在购买数量限制。若用户通过不同渠道实际订购数量超过该商品数量限制的，化浪平台有权单方不予确认订单、撤销已生效的订单中的超出部分。</p>
				 	<p>5.5    用户有权在下列情况下，取消订单：</p>
				 	<p> （1） 经与商户协商达成一致的；</p>
				 	<p> （2） 商户对用户订单做出承诺之前；用户取消订单的行为与化浪平台无关，化浪平台不因此承担任何责任。</p>
				 	<p>5.6    化浪平台在下列情况下，可以取消化浪商城的产品订单：</p>
				 	<p> （1） 经与顾客协商达成一致的；</p>
				 	<p> （2） 化浪平台上显示的商品信息明显错误或缺货的；</p>
				 	<p> （3） 用户订单信息明显错误或用户订购数量超出化浪平台库存的；</p>
				 	<p> （4） 经化浪平台判断，用户订购行为不符合采购资质要求，或者违反公平原则或诚实信用原则的情形；</p>
				 	<p> （5） 因不可抗力、国家政策影响、化浪平台系统发生故障或遭受第三方攻击，及其他化浪平台无法控制的情形，根据化浪平台判断需要取消用户订单的；</p>
				 	<p> （6） 按化浪平台已经发布的或将来可能发布或更新的各类规则，可取消用户订单的其他情形。</p>
				 	<h6>第6条       商业广告发布</h6>
				 	<p>6.1    用户同意化浪平台可以在提供服务的过程中自行或由第三方广告商向用户发送广告、推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向用户特别通知而变更。</p>
				 	<p>6.2    化浪平台依照法律的规定对广告商履行相关义务，用户应当自行判断广告信息的真实性并为自己的判断行为负责，除法律明确规定外，用户因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，化浪平台不承担责任。</p>
				 	<h6>第7条       用户行为规范</h6>
				 	<p>7.1    在使用化浪平台的服务过程中实施的所有行为均遵守国家法律、法规等规范文件，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。如果违反前述承诺，产生任何法律后果的，用户应以自己的名义独立承担所有的法律责任，并确保化浪平台免于因此产生任何损失。</p>
				 	<p>7.2    不发布法律和法规禁止发布的信息，不发布涉嫌侵犯他人知识产权或其它合法权益的信息，不发布违背社会公共利益或公共道德、公序良俗的信息，不发布其它涉嫌违法、违反交易规则或违反本协议及各类规则的信息。</p>
				 	<p>7.3    不对化浪平台上的任何数据或信息作商业性利用，包括但不限于在未经化浪平台事先书面同意的情况下，以复制、传播等任何方式使用，或许可、泄露给任何第三方使用，或者为任何第三方使用提供便利，该等责任及于用户与化浪平台服务关系终止后三年。</p>
				 	<p>7.4    不使用任何装置、软件或例行程序干预或试图干预化浪平台的正常运作或正在化浪平台上进行的任何活动。用户不得采取任何将导致不合理的庞大数据负载加诸化浪平台网络设备的行动。</p>
				 	<p>7.5    不得进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器帐号；不得未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；不得未经许可，企图探查、扫描、测试本平台系统或网络的弱点或其它实施破坏网络安全的行为；不得企图干涉、破坏系统的正常运行。</p>
				 	<p>7.6   注册用户购买本平台产品，必须按照规定用途使用，购买危化品（常规危化品）作实验用途的，不得用于人体实验，不得用于危害他人人身健康及生态环境，否则由使用者自行承担法律责任。</p>
				 	<p>7.7    不得违反化浪平台已发布的各项规则。</p>
				 	<h6>第8条       责任范围与限制（非常重要，请认真阅读）</h6>
				 	<p>8.1    用户违反第7条行为规范时，化浪平台有权依据平台规则，做出相应处理或终止提供服务，且无须征得用户的同意或提前通知用户，化浪平台对此不承担任何责任。</p>
				 	<p>8.2    根据相关法令的指定或者化浪平台业务规则的判断，用户的行为涉嫌违反法律法规的规定或违反本协议或平台已发布的相关协议条款的，化浪平台有权采取相应措施，包括但不限于关闭／取消订单、罚款、暂扣款项、直接屏蔽、删除侵权信息、降低信用值或直接停止提供服务，直至注销账户。</p>
				 	<p>8.3    用户理解并同意，化学品交易的合同双方分别为采购商和供应商，合同履行的瑕疵担保及付款责任应当由用户根据约定内容承担。作为交易信息平台的化浪平台，与用户是独立的商事主体，不向用户承担任何担保或连带责任。双方因化学品交易或相关服务发生争议的，应当根据合同相对性原则自行协商处理或寻求化浪平台居间处理争议。</p>
				 	<p>8.4    用户在订立、履行化学品交易之前，应当自行审核供应商的真实性及履约能力，应当要求供应商明确货物形状及此采购需求等信息。特别地，化浪平台作为交易信息平台，无法控制每一订单所涉及的采购需求、付款能力、货物形状、货物质量、用户信息的真实性或准确性。用户因订立和履行化学品交易而遭受人身损害、财产损害的，或造成第三方人身、财产损害的，应当依法向责任主体追究法律责任，化浪平台不承担任何责任。</p>
				 	<p>8.5    用户账户被注销后，化浪平台没有义务为其保留或向其披露其账户中的任何信息，也没有义务向用户或第三方转发任何用户未曾阅读或发送过的信息。</p>
				 	<p>8.6    用户理解并同意，与化浪平台的协议关系终止后，化浪平台仍享有下列权利：</p>
				 	<p> （1） 继续保存用户未及时删除的注册信息及使用化浪服务期间发布的所有信息的权利，直至法律规定的记录保存期满；</p>
				 	<p> （2） 用户在使用化浪服务期间存在违法行为或违反本协议和/或规则的行为的，化浪平台仍可依据本协议向用户主张权利；</p>
				 	<p> （3） 要求用户根据本协议承担保密义务而无需支付任何费用的权利。</p>
				 	<h6>第9条       知识产权保护</h6>
				 	<p>9.1    用户承诺，用户对提交或发布的所有内容负责，并且该等内容不得侵犯或违反任何其他方的权利或违反任何法律。用户将该等内容提交或发布在公众或其他用户可访问的平台服务区域内，即表示用户声明，用户是该等资料的所有人并且/或者用户拥有分发该等资料的一切必要权利、许可和授权。</p>
				 	<p>9.2    用户承诺，用户在使用平台服务中所提供或产生的内容侵犯第三方合法权益的，用户均应当以自己的名义独立承担所有的法律责任，并应确保化浪平台免于承担因此产生的损失或增加的费用。化浪平台因此遭受第三方的索赔，或受到任何行政管理部门的处罚，用户应当赔偿化浪平台因此造成的损失及发生的费用，包括合理的律师费用。</p>
				 	<p>9.3    用户认为化浪平台项下的内容涉嫌侵犯其合法权益的，可以向化浪平台发送侵权举报。化浪平台收到权利人有效的通知后，用户同意化浪平台有权根据举报材料的有效性及完整性进行独立判断并采取删除、屏蔽或断开链接等措施。一旦化浪平台采取了删除、屏蔽或断开链接等措施的，用户放弃以任何理由向化浪平台索赔的权利。</p>
				 	<p>9.4    化浪平台为提供平台服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于化浪平台，未经化浪平台书面明示许可，用户不得对该软件进行反向工程、反向编译或反汇编。</p>
				 	<p>9.5    除非因使用平台服务而必须，未经化浪平台明示书面许可，用户不得使用化浪平台的商标（不论是否注册）、企业名称、商业标识、域名等，用户以不得自行或委托他人抢注或申请与化浪平台有关的任何知识产权。</p>
				 	<p>9.6    化浪平台在平台服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归化浪平台所有。用户同意，有关服务（包括但不限于图片、用户界面、声音素材、视频素材、编辑内容和安装有关服务所使用的脚本和软件）包含化浪平台和/或其许可方拥有的专有信息和材料，受适用的知识产权法律和其他法律的保护。用户同意，用户不会以任何方式使用该等专有信息或材料，但为了根据本条款使用有关服务的目的而使用的除外。除本条款明确允许的以外，不得以任何形式或任何方式复制有关服务的任何部分。</p>
				 	<p>9.7    用户在使用化浪平台过程中形成的使用数据的所有权归化浪平台所有，未经化浪平台明示书面许可，用户承诺不以任何形式复制、模仿、传播、出版、公布、展示，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。</p>
				 	<h6>第10条    其他</h6>
				 	<p>10.1 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
				 	<p>10.2 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
				 	<p>10.3 除本协议外，用户仍需要遵守包括但不限于化浪平台已经发布的《化浪平台服务协议》以及其他相关业务规则。</p>
				 	<p>10.4 本协议签订地为中华人民共和国宁波市江北区。</p>
				 	<p>10.5 如双方就本协议条款内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向协议签订地的人民法院提起诉讼。</p>
				 </div>
			<!--<div class="TJ_bibaoti">
				<div class="TJ_bibaoti1"></div>
				<h1 class="TJ_bibaoti2">How to register an account</h1>
				<div class="TJ_bibaoti1"></div>
			</div>
			<p class="p_tip">
				Visit the website <a href="http://harlanchina.com/index.html">http://harlanchina.com/index.html</a> and click on the top right side “register”
			</p>
			<div class="TJ_file3_a">
				Purchaser registration
			</div>
			<div class="TJ_file3_b">
				1.	Enter the page of “mobile registration”, fill in the mobile phone number , verification code and password.
			</div>
			<div class="img_box">
				<img src="imgs/help_img/jt_1.png" alt="">
			</div>
			<div class="TJ_file3_b">
				2.	Click “Purchase goods” and then click “register”
			</div>
			<div class="img_box">
				<img src="imgs/help_img/jt_2.png" alt="">
			</div>
			<div class="TJ_file3_b">
				3.	Registered successfully.
			</div>
			<div class="img_box">
				<img src="imgs/help_img/jt_3.png" alt="">
			</div>
			<div class="TJ_file3_a">
				Supplier registration
			</div>
			<div class="TJ_file3_b">
				1.	Enter the page of “mobile registration”, fill in the mobile phone number , verification code and password.
			</div>
			<div class="img_box">
				<img src="imgs/help_img/jt_4.png" alt="">
			</div>
			<div class="TJ_file3_b">
				2.	Choose “Personal supply” or “Company supply”，complete personal information or company information, submit information to finish registration.
			</div>
			<div class="img_box">
				<img src="imgs/help_img/jt_5.png" alt="">
			</div>
			<div class="img_box">
				<img src="imgs/help_img/jt_6.png" alt="">
			</div>
			<div class="TJ_file3_b">
				3.  Registered successfully
			</div>
			<div class="img_box">
				<img src="imgs/help_img/jt_7.png" alt="">
			</div>-->
		</div>
		<!--底部区域开始-->
		<div class="foot_bottom">
			<div class="foot_sub">
				<div class="download">
					<div class="load_txt">下载 :</div>
					<div class="load_pic_a"><a href="https://itunes.apple.com/cn/app/harlan/id1390133615?mt=8"></a></div>
					<div class="load_pic_b"><a href="hualang.apk"></a></div>
				</div>
				<div class="a_txt">
					<a href="new_explain14_c.html">联系我们</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain15_c.html">联系客服</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain16_c.html">合作招商</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain17_c.html">商家帮助</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain18_c.html">手机化浪</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain19_c.html">产品库</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain20_c.html">友情链接</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain21_c.html">隐私政策</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain22_c.html">法律声明</a>
				</div>
				<div class="foot_line"></div>
				<div class="a_txt_b">
					按字母顺序浏览 ：
					<a href="new_explain23_c.html">Onetouch</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain24_c.html">陈列室 </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain25_c.html">国家搜索 </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain26_c.html">供应商</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain27_c.html">批发商 </a>
					<span>&nbsp;|&nbsp;</span>
					<a href="new_explain28_c.html">加盟 产品列表政策 - 知识产权保护</a>
				</div>
				<div class="a_txt_b">
					产品列表政策 - 知识产权保护 - 隐私政策 - 使用条款 - 执法合规指南
				</div>
				<div class="a_txt_b">
					@2017-2018 化浪（浙江）科技有限公司.版权所有.
				</div>
			</div>
		</div>
    	<!--底部区域结束-->
    </div>
</body>
<script type="text/javascript" src="js/jQuery/jquery-1.11.2.js"></script>
<script type="text/javascript" src="js/top_bottom.js"></script>
<!--<script src="../static/lib/common.js" type="text/javascript" charset="utf-8"></script>-->
<script src="lib/base64.js"></script>
<script src="lib/common.js"></script>
<script src="plugins/vue/vue.min.js"></script>
<script src="lib/new_explain17_c.js"></script>
</html>